<h1>Editing Redeem Redeem Product Brand</h1>

<%= render 'form', adm_redeem_redeem_product_brand: @adm_redeem_redeem_product_brand %>

<%= link_to 'Show', @adm_redeem_redeem_product_brand %> |
<%= link_to 'Back', adm_redeem_redeem_product_brands_path %>