.pagination span {
  margin: 5px;
}

.filter_form {
  margin-bottom: 30px;
}

#submit_filter_user {
  padding: 5px;
  margin-right: 40px;
  width: 100px;
}

.count-users-paginator {
  font-size: 15px;
  font-weight: 700;
  color: #20C99D;
  float: right;
  margin-right: 30px;
}

.tooltip-span {
  margin-right: 5px;
}

.next_page {
  color: #67dcbf !important;
  cursor: pointer;
}

.previous_page {
  color: #67dcbf !important;
  cursor: pointer;
}
#user_data_table {
  margin-top: 20px;
}
