<div class='claim-body' style="">
  <div class='input_field row form-group'>
    <div class='col-md-3 col-md-push-1 reason-label'>
      <label>Yêu cầu/Đề nghị:<span style="color: red">*</span>:</label>
    </div>
    <div class='col-md-7 col-md-push-1 ' style='padding-left: 5px;'>
      <textarea class='reason_reserve form-control white-input white-input' name='reason' rows='5' value=''></textarea>
    </div>
  </div>
</div>
<button type="submit" data-disable-with='Đang xử lý...' id='submit-claim-form' form='claim-form' style="display: none" class="btn btn-primary">Gửi yêu cầu</button>
