<div class="modal-dialog" style='min-width: 80%; font-family: inherit !important'>
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-success">Complete Transaction</h1>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div id="completeTransactionBody" class="modal-body">
    </div>
    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-success">Complete Transaction</button>
        <button type='button' class='btn btn-secondary' data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
