<div class="modal-dialog" style='min-width: 80%; font-family: inherit !important'>
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-success">Complete Transaction</h1>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div id="completeTransactionBody" class="modal-body">
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Note</h3>
      </div>
      <div class="card-body p-10">
        <textarea id='noteComplete' class="tinymce"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-success btn-confirm-complete-transaction">Complete Transaction</button>
        <button type='button' class='btn btn-secondary' data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
