<script>
    <%= render partial: 'learning/modal_materials.js' %>
</script>

<%# lesson = @session.op_lession %>
<%# binding.pry %>
<%# lesson_id = lesson.nil? ? nil : lesson.id %>

<div id="modal_materials" class="modal fade"  data-session-id = "" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bài giảng</h4>
      </div>
      <div class="modal-body">
        <div id="modal_materials_list_file_titles">

        </div>
        <div id="modal_materials_file_content">

        </div>
      </div>
    </div>
  </div>
</div>