$("#<%= target %>").html("<%= escape_javascript(render partial: 'learning/material/video_content', locals: { video: @video_id, video_id: video_id, session_id: session_id} ) %>");
<% if name.present? %>
  $('#homework_video_session_name').html('<%= name %>')
<% else %>
    $('#homework_video_session_name').html($('#student_subject_video_name').html())
<% end %>
$('input[name="active_lesson_video"]').val('<%= session_id %>')

<% if has_homework? current_user, session %>
$('.video_to_homework').html("<a class='btn btn-primary btn-embossed bg-5DC2A7 text-transform video_to_homework' href='/learning/view_question?session_id=<% session_id %>'>Làm bài tập</a>")
<% else %>
$('.video_to_homework').html("<a class='btn btn-primary btn-embossed bg-5DC2A7 text-transform video_to_homework' style='display: none;'>Làm bài tập</a>")
<% end %>
