<!DOCTYPE html>
<!-- saved from url=(0034)http://frequencythemes.com/turtle/ -->
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Turtle</title>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <!-- Le styles -->
    <link href='/turtle/style.css' rel='stylesheet'>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link href='http://frequencythemes.com/turtle/favicon.ico' rel='shortcut icon'>
  </head>
  <body>
    <div class='background'>
      <div class='wrapper'>
        <div class='description'>
          <h1>Oops!</h1>
          <!-- %h2= msg -->
          <p></p>
        </div>
        <img alt='' class='turtle' src='/turtle/turtle.png'>
        <div class='shadow'></div>
        <img alt='' class='wall-p-c' src='/turtle/wall-power-connection.png'>
        <div class='sidebar'>
          <div class='links'>
            <div class='title'>Một số lựa chọn khác cho bạn:</div>
            <ul>
              <li>
                <a href='/'> Quay lại trang chủ </a>
              </li>
              <li>
                <a class='active' href='https://teky.edu.vn/'>Tham quan Teky</a>
              </li>
              <li>
                <a href='https://facebook.com' target='_blank'>Vào facebook chơi</a>
              </li>
              <li>
                <a href='https://user/logout' target='_blank'>Đăng nhập lại</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
