<div class="modal-dialog">
  <div class="modal-content m-b-20">
    <div class="modal-body text-center modal-edit">
      <img src="/global/images/Sad.png" alt="">
      <h3>TIẾC QUÁ!</h3>
      <p class="text-center">Con phải <b class="text-transform color-EB9138">trả lời câu hỏi trước nhé</b><br/>Trả lời lại câu hỏi nhé! </p>
    </div>
    <div class="modal-footer text-center">
      <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal">Đóng lại</button>
    </div>
  </div>
</div>