<div class="card-tools">
	<a href="<%= adm_learning_course_show_path(@op_subject.op_course.id)%>" class="btn btn-default btn-sm bg-olive"><i class="fas fa-angle-double-left"></i> <%= t('button.Back to cource')%></a>
	<a href="<%= adm_learning_course_lesson_edit_path(@obj_lesson.id)%>" class="btn btn-default btn-sm bg-olive"><i class="fas fa-pencil-alt"></i> <%= t('button.Edit')%></a>
</div>