<div class="float-right">
	<button type="submit" class="btn btn-default btn-sm bg-olive"><i class="fas fa-save"></i> <%= t('button.Save')%></button>
	<a href="<%= adm_learning_course_show_path(@course.id)%>" class="btn btn-default btn-sm"><i class="fas fa-ban"></i> <%= t('button.cancel')%></a>          
</div>