<div class="card-tools">
	<a href="<%= adm_learning_course_path%>" class="btn btn-default btn-sm bg-olive"><i class="fas fa-angle-double-left"></i> <%= t('button.Back to list')%></a>
	<a href="<%= adm_learning_course_edit_path(@course.id)%>" class="btn btn-default btn-sm bg-olive"><i class="fas fa-pencil-alt"></i> <%= t('button.Edit')%></a>
</div>