.select2-selection__choice__display {
	color: black;
}

button.select2-selection__choice__remove {
	border: none;
	background-color: #e4e4e4;
	color: black !important;
}
#claim-rule-button{
  display: none;
}
#claim-form{
  margin: 30px;
  color: black !important;
}
#claim-form input {
  color: black !important;
  padding-left: 0;
}
#claim-form select {
  color: black !important;
}
.close-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
}
.claim-body {
}
.form-submit{
  display: flex;
}
.form-submit button{
  margin-left: auto;
  margin-top: 30px;
  margin-right: 30px;
}
/*.input_field.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input_field .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}*/
.noborder {
  border: 0;
}
.white-input {
  background-color: white !important;
}
.input_field {
  margin-top: 10px;
  margin-bottom: 10px;
}
.claim-content {
  margin: 0 20px 0 20px;
}
.select2-container {
  z-index: 0
}
.claim-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.reason-label {
  align-self: flex-start;
}
.mg-left-10 {
  margin-left: 10px;
}
.claim-part-title{
  margin-top: 40px;
}
.form-group{
  margin-bottom: 0;
}
.mg-bottom-20 {
  margin-bottom: 20px;
}
