<div class='bo-table'>
  <% student_projects.each do |subject_id, projects| %>
    <div class="panel-content">
      <div class="box-product" >
        <div class="fc-header" style='margin: 15px 0'>
          <% subject = Learning::Course::OpCourse.where(id: subject_id).first %>
        <h3><span class="color-F16357"><%= subject.name %></span></h3>
        </div>
        <div class='row'>
          <%= render 'user/open_educat/op_students/partials/student_projects', { products: projects } %>
        </div>
      </div>    
    </div>
  <% end %>
</div>
