<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform">Lớp học của tôi</h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <% if @batches.empty? %>
        <h4>Bạn chưa có khóa học nào</h4>
      <% else %>
          <% op_student_id = current_user.op_student.id %>
        <div class='' style='display: grid;grid-template-columns: 50% 50%;' > 
        <% @batches.each_with_index do |batch, index| %>
          <%= render :partial => "user/users/overview_batch", :locals => {batch: batch, op_student_id: op_student_id, index: index} %>
        <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>
