$('#tab2_2').html("<%= escape_javascript(render partial: 'student_progress_content', locals: {batch: batch, student_course: student_course, subjects: subjects, coming_soon_session: coming_soon_session, done_sessions: done_sessions, tobe_sessions: tobe_sessions, cancel_sessions: cancel_sessions, active_subject: active_subject}) %>");

$('#tab2').ready(function(){
  $('.filter_subject').append('<span class="fa fa-caret-down" style="position: absolute; right: 20px; top: 40%"></span>');
})
