<div class="table-responsive bo-table">
  <div class="fc-header">
    <h3><%= t('my_class.detail.progress.cancel_html') %></span></h3>
  </div>

  <% if !cancel_sessions.nil? and !cancel_sessions.empty? %>
    <table class="table  table-link">
      <thead>
        <tr>
          <th width="90">&nbsp;</th>
          <th width="140"></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cancel_sessions.each do |cancel_session| %>
          <% s_cancel = cancel_session[:session] %>
          <% l_cancel = cancel_session[:lesson] %>
          <tr class="student_subject_level <%= 'subject_level_' + s_cancel.op_subject.id.to_s %>">
            <%= render 'user/open_educat/op_students/progress/session/cancel_session_student', {:session => s_cancel, :lesson => l_cancel} %>
            <tr>
            <% end %>
      </tbody>
    </table>
  <% else %>
    <div><%= t('my_class.detail.progress.no_lesson') %></div>
  <% end %>
</div>
