<div class="panel-content">
  <div class="bnd-title">
    <label class="filter-title" style = "text-transform:uppercase;">Báo cáo buổi học</label>
  </div>
  <div class="owl-carousel owl-theme">
    <% report_objects.each_with_index do |report_object, index| %>
      <div class='item'>
      <canvas id="barChart<%= index %>" width="400" height="400"></canvas>
        </div>
    <% end %>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    items: 1,
    margin:10,
    nav:true
  })
})
</script>
