<div class="bnd-clock text-uppercase" id="clockdiv">
  <div class="box-datetime">
    <span class="days"><p class="numberDay"></p><%= t('datetime.prompts.day')%></span>
  </div><span class="char-dots"> : </span>
  <div class="box-datetime">
    <span class="hours"><p class="numberHours"></p><%= t('datetime.prompts.hour')%></span>
  </div><span class="char-dots"> : </span>
  <div class="box-datetime">
    <span class="minutes"><p class="numberMinutes"></p><%= t('datetime.prompts.minute')%></span>
  </div><span class="char-dots"> : </span>
  <div class="box-datetime">
    <span class="seconds"><p class="numberSeconds"></p><%= t('datetime.prompts.second')%></span>
  </div>
</div>