<div class="panel-content">
  <div class="bnd-title">
    <label class="filter-title">Top 10 học sinh tiêu biểu</label>
    <p><img style="width: 25px;" src="assets/global/images/star.png" alt=""></p>
  </div>
  <div class="box-student">
    <table class="table">
      <tr>
        <td>01</td>
        <td>
          <label class="color-EB9138">Kiều Vũ Tuệ Nhi</label>
          <p>Học sinh <span class="color-0654BA text-transform">TEKY - Cầu giấy</span></p>
        </td>
        <td align="right">
          <h2>120.303</h2>
        </td>
      </tr>
      <tr>
        <td>01</td>
        <td>
          <label class="color-EB9138">Kiều Vũ Tuệ Nhi</label>
          <p>Học sinh <span class="color-0654BA text-transform">TEKY - Cầu giấy</span></p>
        </td>
        <td align="right">
          <h2>120.303</h2>
        </td>
      </tr>
      <tr>
        <td>01</td>
        <td>
          <label class="color-EB9138">Kiều Vũ Tuệ Nhi</label>
          <p>Học sinh <span class="color-0654BA text-transform">TEKY - Cầu giấy</span></p>
        </td>
        <td align="right">
          <h2>120.303</h2>
        </td>
      </tr>
      <tr>
        <td>01</td>
        <td>
          <label class="color-EB9138">Kiều Vũ Tuệ Nhi</label>
          <p>Học sinh <span class="color-0654BA text-transform">TEKY - Cầu giấy</span></p>
        </td>
        <td align="right">
          <h2>120.303</h2>
        </td>
      </tr>

    </table>
  </div>
</div>
