<div class="panel-content row">
  <div class="box-star">
    <div class="col-sm-4">
      <div class="bs-detail">
        <img src="assets/global/images/star.png" alt="">
        <h3>20.092</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bs-detail">
        <span>Teky đồng</span>
        <h3>20.092</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bs-detail">
        <a href="" class="font-medium">Xem tất cả</a>
      </div>
    </div>
  </div>

</div>    
