<ul class="pagination pagination-sm  m-0" role="navigation" aria-label="pager" style="justify-content: center">
  <% if page >= 1 && users.length == 25 %>
    <li class="paginate_button page-item first">
      <a class="page-link previous_page" data-page='<%= page - 1 %>' ><i class="fas fa-chevron-left"></i></a>
    </li>
  <% end %>
  <% if users.length == 25 %>
    <li class="paginate_button page-item last">
      <a class="page-link next_page" data-page='<%= page + 1%>'><i class="fas fa-chevron-right"></i></a>
    </li>
  <% end %>
</ul>
