<div class="tab-pane" id="messages">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Tài sản</th>
          <th>Từ cơ sở</th>
          <th>Đến cơ sở</th>
          <th style="text-align: center;">Ngày mượn</th>
          <th style="text-align: center;">Ngày trả</th>
          <th style="text-align: center;">Ngày thực tế trả</th>
          <th>trạng thái</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12 thiết bị</td>
          <td>Teky cầu giấy</td>
          <td>Teky cầu giấy</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td>Confirm</td>
          <td align="right"><span class="label-edit label label-primary">Đang diễn ra</span></td>
        </tr>
        <tr>
          <td>12 thiết bị</td>
          <td>Teky cầu giấy</td>
          <td>Teky cầu giấy</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td>Confirm</td>
          <td align="right"><span class="label-edit label label-danger"> Đã hủy</span></td>
        </tr>
        <tr>
          <td>12 thiết bị</td>
          <td>Teky cầu giấy</td>
          <td>Teky cầu giấy</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td align="center">12.03.2022<br/>12:03:00</td>
          <td>Confirm</td>
          <td align="right"><span class="label-edit label label-stop">Hoàn thành</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
