<h1>Editing Redeem Redeem Product Category</h1>

<%= render 'form_edit', adm_redeem_redeem_product_category: @adm_redeem_redeem_product_category %>

<%= link_to 'Show', adm_redeem_redeem_product_category_path(@adm_redeem_redeem_product_category), class: 'btn btn-primary' %> |
<%= link_to 'Back', adm_redeem_redeem_product_categories_path, class: 'btn btn-secondary' %>
