<% if SocialCommunity::Photo.where(session_id: session[:id]).first.present? %>
  <span class="session_info">
    <a class="session_photo_modal" data-toggle="modal" data-target="#modal_adm_session_photo" data-session="<%= session[:id] %>">
      <i class="color-5dc2a7 far fa-2x fa-images"></i>
    </a>
  </span> 
<% else %>
  <span class="session_info">
    <a class="session_photo_modal review-stats__disable" disabled>
      <i class="far fa-2x fa-images"></i>
    </a>
  </span> 
<% end %>
<span class="session_info">
  <% if session[:state] != 'done' %>
    <a class="review-stats__disable" disabled>
      <i class="far fa-2x fa-clipboard"></i>
    </a>
  <% else %>
    <a class="session_attendance_modal" data-toggle="modal" data-target="#modal_adm_session_attendance" data-session="<%= session[:id] %>">
      <i class="color-5dc2a7 far fa-2x fa-clipboard"></i>
    </a>
  <% end %>
</span> 
