<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-th mr-1 text-success"></i> Danh sách câu trả lời</h3>
      </div>
      <div class="card-body">
        <div class="mailbox-controls"><%= render "adm/partials/form_learning_activity"%></div>
        <div class="table-responsive p-0" style="height: 300px;">
          <table class="table table-sm table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>183</td>
                <td>John Doe</td>
                <td>11-7-2014</td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                <td><span class="tag tag-success">Approved</span></td>
                <td class="text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default"><i class="fas fa-exclamation-triangle text-red"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer clearfix">
        VVV
      </div>
    </div>
  </div>
</div>