<!-- Variables:
  * thread
-->

<div class="fcca-main">
  <!-- add_new_message -->
  <ul>
    <li><span><img src="assets/global/images/avatar.svg" alt=""></span></li>
    <li><input type="text"></li>
  </ul>

  <!-- messages' content -->
  <div class="fcm-anw">
    <div class="fcma-tit">
      <img src="assets/global/images/Bitmaps.png" alt="">
      <label for="">Kiều Chí Công<br/><span>Giảng viên</span></label>
    </div>
    <div class="fcma-cmt">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <span>2 ngày trước</span>
    </div>
  </div>
</div>


<% content_for :javascript_includes do %>
  <% javascript_include_tag 'social_community/question_answer/thread_messages' %>
<% end %>
