<div class="fc-chat" id='qa_area' data-session-id='<%= session.id %>' data-lesson-id='<%= lesson.id %>'>
  <div class="fcc-btn">
    <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7 width-100 text-transform font-bold" >Ôn lại bài đã học</button>
  </div>
  <!-- add_new_question -->
  <%= render :partial => "social_community/question_answer/shared/add_new_question", :locals => {:session => session, :lesson => lesson} %>
</div>

  <script>
      $('#qa_area').ready(function() {
    data = {
      'session_id': $('#qa_area').data('session-id'),
      'lesson_id': $('#qa_area').data('lesson-id'),
    };
    get_qa_threads(data);
      })
  </script>
