<!-- Variables:
  * student_id
  * threads
  * messages
-->
<!-- qa_threads -->
<div class="fcc-anw chat-maxheight" id='qa_threads'>
  <% threads.each do |thread| %>
    <%= render :partial => "social_community/question_answer/shared/thread", :locals => {:thread => thread} %>
  <% end %>
</div>

<style>
.chat-maxheight {
  max-height: 600px;
  overflow-y: scroll;
}
</style>
