<!-- subject -->
<div class="fcca-head">
  <label>Hỏi:</label>
  <p><%= thread.subject %> </p>
</div>

<!-- messages -->
<%= render :partial => "social_community/question_answer/shared/message", :locals => {:thread => thread} %>
