<!-- Coming soon page -->
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('page.coming_soon') %></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class='page--coming-soon'>
        <p class='page-coming-soon-text'><%= t('page.coming_soon') %></p>
      </div>
    </div>
  </div>
</div>


<style>
.page--coming-soon {
  height: 400px;
}
.page-coming-soon-text {
  text-align: center;
  text-transform: uppercase;
}
</style>
