<div>
  <h2>Xác nhận lời mời</h2>
  <%= image_tag ('global/images/refer_failed.png') %>
  <h2>Huỷ lời mời không thành công vì <%= result[:message] %></h2>
<a href='https://teky.edu.vn/'>Tìm hiểu thêm về học viện</a>
</div>
<style>
div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
img {
  width: 70px;
  height: 70px;
  background: white;
  color: white;
}
</style>
