<div class="page-content page-thin">
	<div class="row">
			<div class="col-md-8">
				<div class="panel">
					<div class="fc-header">
				    	<h3>HOẠT ĐỘNG LỚP <span class="color-0654BA">HN-HN-C-PA-1116-SNPY-0030</span></h3>
					</div>

				</div>
			</div>
			<div class="col-md-4"><div class="panel">222</div></div>
		</div>
</div>