<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'social_community/sc_product.js' %>
<% end %>
<div class="page-content page-thin">
    <!-- InstanceBeginEditable name="EditRegion1" -->
    <div class="panel panel-edits bg-232837">
        <div class="panel-heading">
            <!-- <div class="ph-img">
                <span><img src="assets/global/images/avatar.svg" alt=""></span>
            </div> -->
            <div class="ph-text">
                <h2 class="color-fff text-transform">Sản phẩm của học sinh</h2>
            </div>
        </div>
    </div>
	<div class="panel m-t--70">
        
        <div class="panel-content">
            <div class="filter-box FlowupLabels b-b-1-869fb229" id='formBody'>
              <div class="row">
                <div class="col-md-3">
                  <div class='fl_wrap m-t-0'>
                    <label class='fl_label' for='rf_name'>Khóa học:</label>
                    <select class='fl_input' id='homework_course_selection'>
                      <% @courses.each do |course| %>
                        <option value="<%= course.id %>"><a href="/user/student_homework" data-remote="true"><%= course.name %></a></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class='fl_wrap m-t-0 populated'>
                    <label class='fl_label' for='rf_name'>Lớp học:</label>
                    <select class='fl_input' id="homework_batch_selection">
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class='fl_wrap m-t-0 populated'>
                    <label class='fl_label' for='rf_name'>Học phần:</label>
                    <select class='fl_input' id="homework_subject_selection">
                      <option val="all">Tat ca</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-product" >
              <div class="row" id="student_product_list" >
                <%#= render 'user/op_students/partials/student_products', { course: @course, products: @products } %>
              </div>
            </div>    
        </div>
        
    </div>
	<!-- InstanceEndEditable -->   

  	<div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">©</span> 2020 </span>
                <span>THEMES BACKEND TEKY. </span>
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>
<%#= render 'user/op_students/modals/student_product_detail', {product: ''} %>
<div id="modal_student_product" class="modal fade" role="dialog">
</div>
