<div class="page-content page-thin">

                <!-- InstanceBeginEditable name="EditRegion1" -->
                <div class="panel panel-edits bg-232837">
                    <div class="panel-heading">
                        <!-- <div class="ph-img">
                            <span><img src="assets/global/images/avatar.svg" alt=""></span>
                        </div> -->
                        <div class="ph-text">
                            <h2 class="color-fff text-transform">Sản phẩm của học sinh</h2>
                        </div>
                    </div>
                </div>
				<div class="panel m-t--70">
                    
                    <div class="panel-content">
                        <div class="filter-box FlowupLabels b-b-1-869fb229" id='formBody'>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-2">
                                    <div class='fl_wrap m-t-0'>
                                        <label class='fl_label' for='rf_name'>Khóa học</label>
                                        <select class='fl_input' id='rf_name' >
                                            <option value=""></option>
                                            <option value="">sss</option>
                                            <option value="">sss</option>
                                            <option value="">sss</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class='fl_wrap m-t-0'>
                                        <label class='fl_label' for='rf_name1'>lớp học:</label>
                                        <select class='fl_input' id='rf_name1' >
                                            <option value=""></option>
                                            <option value="">sss</option>
                                            <option value="">sss</option>
                                            <option value="">sss</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class='fl_wrap m-t-0'>
                                        <label class='fl_label' for='rf_name2'>Học phần:</label>
                                        <select class='fl_input' id='rf_name2' >
                                            <option value=""></option>
                                            <option value="">sss</option>
                                            <option value="">sss</option>
                                            <option value="">sss</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-product">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="prod-detail">
                                        <div class="prod-img">
                                            <span><img src="/global/images/Bitmap5.png" alt=""></span>
                                        </div>
                                        <div class="prod-text">
                                            <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN LẬP TRÌNH SCRATCH</label>
                                            <p>Khám phá lập trình với ngôn ngữ Scratch là bước đầu tiên để các bạn nhỏ làm quen với bộ môn lập trình.</p>
                                            <a href="">Xem sản phẩm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="prod-detail">
                                        <div class="prod-img">
                                            <span><img src="/global/images/Bitmap5.png" alt=""></span>
                                        </div>
                                        <div class="prod-text">
                                            <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN LẬP TRÌNH SCRATCH</label>
                                            <p>Khám phá lập trình với ngôn ngữ Scratch là bước đầu tiên để các bạn nhỏ làm quen với bộ môn lập trình.</p>
                                            <a href="">Xem sản phẩm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="prod-detail">
                                        <div class="prod-img">
                                            <span><img src="/global/images/Bitmap5.png" alt=""></span>
                                        </div>
                                        <div class="prod-text">
                                            <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN LẬP TRÌNH SCRATCH</label>
                                            <p>Khám phá lập trình với ngôn ngữ Scratch là bước đầu tiên để các bạn nhỏ làm quen với bộ môn lập trình.</p>
                                            <a href="">Xem sản phẩm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="prod-detail">
                                        <div class="prod-img">
                                            <span><img src="/global/images/Bitmap5.png" alt=""></span>
                                        </div>
                                        <div class="prod-text">
                                            <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN LẬP TRÌNH SCRATCH</label>
                                            <p>Khám phá lập trình với ngôn ngữ Scratch là bước đầu tiên để các bạn nhỏ làm quen với bộ môn lập trình.</p>
                                            <a href="">Xem sản phẩm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    
                </div>
				<!-- InstanceEndEditable -->   

              	<div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright <span class="copyright">©</span> 2020 </span>
                            <span>THEMES BACKEND TEKY. </span>
                            <span>All rights reserved. </span>
                        </p>
                        <p class="pull-right sm-pull-reset">
                            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>