<div class="page-content page-thin">

  <!-- InstanceBeginEditable name="EditRegion1" -->
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Bài tập & ôn bài</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <a class="PC-back" id="student_homework_back" onclick="goBack()">
        <img src="/assets/global/images/quaylai.svg">
        Quay lại
      </a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#homework_tab1" data-toggle="tab">Bài tập về nhà</a></li>
        <li class=""><a id="student_homework_videos" href="#homework_tab2" data-toggle="tab">Ôn bài</a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in" id='homework_tab1'>

          <div class="table-responsive bo-table">
            <div class="filter-box FlowupLabels" id='formBody'>
              <div class="row">
                <div class="col-md-4">
                  <label class="filter-title student_course_title"></label>
                </div>
                <div class="col-md-3">
                  <div class='fl_wrap m-t-0'>
                    <label class='fl_label' for='rf_name'>Khóa học:</label>
                    <select class='fl_input' id='homework_course_selection'>
                      <% @courses.each do |course| %>
                        <option value="<%= course.id %>"><a href="/user/student_homework" data-remote="true"><%= course.name %></a></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class='fl_wrap m-t-0 populated'>
                    <label class='fl_label' for='rf_name'>Lớp học:</label>
                    <select class='fl_input' id="homework_batch_selection">
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class='fl_wrap m-t-0 populated'>
                    <label class='fl_label' for='rf_name'>Học phần:</label>
                    <select class='fl_input' id="homework_subject_selection">
                      <option val="all">Tat ca</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-hover table-link" id="homework_session_table" remote='true'>
            </table>
          </div>
        </div>
        <%= render 'user/op_students/partials/student_homework_videos' %>
      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020 </span>
        <span>THEMES BACKEND TEKY. </span>
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
      </p>
    </div>
  </div>
</div>