<div class="page-content page-thin">

                <!-- InstanceBeginEditable name="EditRegion1" -->
                <div class="panel panel-edits bg-232837">
                    <div class="panel-heading">
                        <!-- <div class="ph-img">
                            <span><img src="assets/global/images/avatar.svg" alt=""></span>
                        </div> -->
                        <div class="ph-text">
                            <h2 class="color-fff text-transform">Thồng tin hóa đơn</h2>
                        </div>
                    </div>
                </div>
				<div class="panel m-t--70">
                    
                    <div class="panel-content">
                        <div class="table-responsive bo-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã hóa đơn</th>
                                        <th>Khách hàng</th>
                                        <th>Khóa học</th>
                                        <th>Học phần</th>
                                        <th class="text-right">Kỳ hạn học phí</th>
                                        <th class="text-right">Giá trị hóa đơn</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>RF-009921</td>
                                        <td>
                                            Nguyễn Minh Hiệu<br/>
                                            <p>Học sinh : <span>Nguyễn ngọc minh châu</span></p>
                                        </td>
                                        <td>Mầm non lập trình</td>
                                        <td>1,2,3,4,5</td>
                                        <td align="right">12.03.2020</td>
                                        <td align="right"><span class="color-FF0D38">12.000.000</span></td>
                                        <td align="right"><a href=""><img src="/global/images/downloadinvoice.png" style="width: 20px" alt=""></a></td>
                                    </tr>
                                    
                                    <tr>
                                        <td>RF-009921</td>
                                        <td>
                                            Nguyễn Minh Hiệu<br/>
                                            <p>Học sinh : <span>Nguyễn ngọc minh châu</span></p>
                                        </td>
                                        <td>Mầm non lập trình</td>
                                        <td>1,2,3,4,5</td>
                                        <td align="right">12.03.2020</td>
                                        <td align="right"><span class="color-FF0D38">12.000.000</span></td>
                                        <td align="right"><a href=""><img src="/global/images/downloadinvoice.png" style="width: 20px" alt=""></a></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
				<!-- InstanceEndEditable -->   

              	<div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright <span class="copyright">©</span> 2020 </span>
                            <span>THEMES BACKEND TEKY. </span>
                            <span>All rights reserved. </span>
                        </p>
                        <p class="pull-right sm-pull-reset">
                            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>