<div class="page-content page-thin">

                <!-- InstanceBeginEditable name="EditRegion1" -->
                <div class="panel panel-edits bg-232837">
                    <div class="panel-heading">
                        <!-- <div class="ph-img">
                            <span><img src="/global/images/avatar.svg" alt=""></span>
                        </div> -->
                        <div class="ph-text">
                            <h3 class="color-fff text-transform">Đổi điểm</h3>
                        </div>
                    </div>
                </div>
				<div class="panel m-t--70">
                    
                    <div class="panel-content">

                        <div class="redem-all">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ra-detail">
                                        <h2>1,200</h2>
                                        <p><span>T-điểm</span>, Teky điểm thưởng</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="ra-detail">
                                        <a href="">Làm sao để kiểm được điểm T-Điểm?</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="redem-filter">
                            <div class="filter-box FlowupLabels" id='formBody'>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="filter-title">Danh mục quá</label>
                                    </div>
                                    <div class="col-md-offset-5 col-md-3">
                                        <div class='fl_wrap m-0'>
                                            <label class='fl_label' for='rf_name'>Danh mục:</label>
                                            <select class='fl_input' id='rf_name' >
                                                <option value=""></option>
                                                <option value="">sss</option>
                                                <option value="">sss</option>
                                                <option value="">sss</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="redem-tab">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class=""><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thông tin chung</a></li>
                                <li class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Năng lực giảng viên</a></li>
                                <li class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Thiết bị học tập</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane" id="home">...</div>
                                <div class="tab-pane" id="profile">...</div>
                                <div class="tab-pane active" id="messages">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="rt-detail">
                                                <div class="rtd-img">
                                                    <ul class="owl-carousel" id="product1">
                                                        <li><span><img src="/global/images/Bitmap1.png" alt=""></span></li>
                                                        <li><span><img src="/global/images/Bitmap1.png" alt=""></span></li>
                                                        <li><span><img src="/global/images/Bitmap1.png" alt=""></span></li>
                                                    </ul>
                                                </div>
                                                <div class="rtd-text">
                                                    <span>Teky</span>
                                                    <h3>Áo POLO <div class="rateit pull-right m-t-0" data-value="4.5" data-max="6"></div></h3>
                                                    <div class="rtd-center clearfix">
                                                        <div class="rtdt-left">
                                                            <div class="form-group pos-relative">
                                                                <label for="exampleInputEmail1" class="form-title pos-absolute">Mầu sắc</label>
                                                                <ul>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color1"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color2"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color3"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color4"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="rtdt-right">
                                                            <ul>
                                                                <li>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Số lượng</label>
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">1</option>
                                                                            <option value="">2</option>
                                                                            <option value="">3</option>
                                                                            <option value="">4</option>
                                                                        </select>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Kích cỡ</label>
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">s</option>
                                                                            <option value="">m</option>
                                                                            <option value="">l</option>
                                                                            <option value="">xl</option>
                                                                        </select>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                        
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error autem deserunt minima, hic at minus aspernatur inventore nostrum atque? Laudantium consequuntur.</p>
                                                    <div class="rtd-btn clearfix">
                                                        <div class="rtdb-left">
                                                            <p><span>Star</span><br/>1,500</p>
                                                        </div>
                                                        <div class="rtdb-right">
                                                            <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7">Đổi quà ngay</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="rt-detail">
                                                <div class="rtd-img">
                                                    <ul class="owl-carousel" id="product2">
                                                        <li><span><img src="/global/images/Bitmap2.png" alt=""></span></li>
                                                        <li><span><img src="/global/images/Bitmap2.png" alt=""></span></li>
                                                        <li><span><img src="/global/images/Bitmap2.png" alt=""></span></li>
                                                    </ul>
                                                </div>
                                                <div class="rtd-text">
                                                    <span>Teky</span>
                                                    <h3>Áo POLO <div class="rateit pull-right m-t-0" data-value="4.5" data-max="6"></div></h3>
                                                    <div class="rtd-center clearfix">
                                                        <div class="rtdt-left">
                                                            <div class="form-group pos-relative">
                                                                <label for="exampleInputEmail1" class="form-title pos-absolute">Mầu sắc</label>
                                                                <ul>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color1"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color2"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color3"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color4"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="rtdt-right">
                                                            <ul>
                                                                <li>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Số lượng</label>
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">1</option>
                                                                            <option value="">2</option>
                                                                            <option value="">3</option>
                                                                            <option value="">4</option>
                                                                        </select>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Kích cỡ</label>
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">s</option>
                                                                            <option value="">m</option>
                                                                            <option value="">l</option>
                                                                            <option value="">xl</option>
                                                                        </select>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                        
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error autem deserunt minima, hic at minus aspernatur inventore nostrum atque? Laudantium consequuntur.</p>
                                                    <div class="rtd-btn clearfix">
                                                        <div class="rtdb-left">
                                                            <p><span>Star</span><br/>1,500</p>
                                                        </div>
                                                        <div class="rtdb-right">
                                                            <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7">Đổi quà ngay</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="rt-detail">
                                                <div class="rtd-img">
                                                    <ul class="owl-carousel" id="product3">
                                                        <li><span><img src="/global/images/Bitmap3.png" alt=""></span></li>
                                                        <li><span><img src="/global/images/Bitmap3.png" alt=""></span></li>
                                                        <li><span><img src="/global/images/Bitmap3.png" alt=""></span></li>
                                                    </ul>
                                                </div>
                                                <div class="rtd-text">
                                                    <span>Teky</span>
                                                    <h3>Áo POLO <div class="rateit pull-right m-t-0" data-value="4.5" data-max="6"></div></h3>
                                                    <div class="rtd-center clearfix">
                                                        <div class="rtdt-left">
                                                            <div class="form-group pos-relative">
                                                                <label for="exampleInputEmail1" class="form-title pos-absolute">Mầu sắc</label>
                                                                <ul>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color1"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color2"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color3"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class="check-multi">
                                                                            <input type="radio" name="radio">
                                                                            <span class="checkmark" id="check-color4"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="rtdt-right">
                                                            <ul>
                                                                <li>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Số lượng</label>
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">1</option>
                                                                            <option value="">2</option>
                                                                            <option value="">3</option>
                                                                            <option value="">4</option>
                                                                        </select>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Kích cỡ</label>
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">s</option>
                                                                            <option value="">m</option>
                                                                            <option value="">l</option>
                                                                            <option value="">xl</option>
                                                                        </select>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                        
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error autem deserunt minima, hic at minus aspernatur inventore nostrum atque? Laudantium consequuntur.</p>
                                                    <div class="rtd-btn clearfix">
                                                        <div class="rtdb-left">
                                                            <p><span>Star</span><br/>1,500</p>
                                                        </div>
                                                        <div class="rtdb-right">
                                                            <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7">Đổi quà ngay</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                    
                </div>
				<!-- InstanceEndEditable -->   

              	<div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright <span class="copyright">©</span> 2020 </span>
                            <span>THEMES BACKEND TEKY. </span>
                            <span>All rights reserved. </span>
                        </p>
                        <p class="pull-right sm-pull-reset">
                            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>