<div class="page-content page-thin">

                <!-- InstanceBeginEditable name="EditRegion1" -->
                <div class="panel panel-edits bg-232837">
                    <div class="panel-heading">
                        <!-- <div class="ph-img">
                            <span><img src="assets/global/images/avatar.svg" alt=""></span>
                        </div> -->
                        <div class="ph-text">
                            <h2 class="color-fff text-transform">Bài tập & ôn bài</h2>
                        </div>
                    </div>
                </div>
				<div class="panel m-t--70">
                    
                    <div class="panel-content">
                        <ul class="nav nav-tabs nav-primary tab-menu">
                            <li class="active"><a href="Student_BT-OB_BTVN-LIST.html">Bài tập về nhà</a></li>
                            <li class=""><a href="Student_BT-OB_OB2.html">Ôn bài</a></li>
                        </ul>
                        <div class="tab-content p-0 tab-all-content m-t-20">
                            <div class="tab-pane fade active in">
                                    
                                <div class="table-responsive bo-table">
                                    <div class="filter-box FlowupLabels" id='formBody'>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="filter-title">Siêu nhân lập trình Python</label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class='fl_wrap m-t-0'>
                                                    <label class='fl_label' for='rf_name'>Khóa học:</label>
                                                    <select class='fl_input' id='rf_name' >
                                                        <option value=""></option>
                                                        <option value="">sss</option>
                                                        <option value="">sss</option>
                                                        <option value="">sss</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class='fl_wrap m-t-0'>
                                                    <label class='fl_label' for='rf_name'>Lớp học:</label>
                                                    <select class='fl_input' id='rf_name' >
                                                        <option value=""></option>
                                                        <option value="">sss</option>
                                                        <option value="">sss</option>
                                                        <option value="">sss</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class='fl_wrap m-t-0'>
                                                    <label class='fl_label' for='rf_name'>Học phần:</label>
                                                    <select class='fl_input' id='rf_name' >
                                                        <option value=""></option>
                                                        <option value="">sss</option>
                                                        <option value="">sss</option>
                                                        <option value="">sss</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-hover table-link">
                                        
                                        <tbody>
                                            <tr>
                                                <td width="70%"><a href="Student_BT-OB_BTVN-view.html"><strong>BÀI 1:</strong> HELLO WORLD</a></td>
                                                <td align="right">09:56  12/08/2019</td>
                                                <td align="right"><span class="label-edit label label-primary">Đã làm</span></td>
                                                <td align="right"></td>
                                            </tr>
                                            <tr>
                                                <td width="70%"><a href="Student_BT-OB_BTVN-view.html">BÀI 2: Ứng dụng kiểm tra dữ liệu số</a></td>
                                                <td align="right"></td>
                                                <td align="right"><span class="label-edit label label-danger">chưa làm</span></td>
                                                <td align="right"></td>
                                            </tr>
                                            <tr>
                                                <td width="70%"><p>BÀI 3: Ứng dụng danh bạ điện thoại</p></td>
                                                <td align="right"></td>
                                                <td align="right"><span class="label-edit label label-stop">không có bài tập</span></td>
                                                <td align="right"></td>
                                            </tr>
                                            <tr>
                                                <td width="70%"><a href="Student_BT-OB_BTVN-view.html"><strong>BÀI 4:</strong> HELLO WORLD</a></td>
                                                <td align="right">09:56  12/08/2019</td>
                                                <td align="right"><span class="label-edit label label-primary">Đã làm</span></td>
                                                <td align="right"></td>
                                            </tr>
                                            <tr>
                                                <td width="70%"><a href="Student_BT-OB_BTVN-view.html"><strong>BÀI 5:</strong> HELLO WORLD</a></td>
                                                <td align="right">09:56  12/08/2019</td>
                                                <td align="right"><span class="label-edit label label-primary">Đã làm</span></td>
                                                <td align="right"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- InstanceEndEditable -->   

              	<div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright <span class="copyright">©</span> 2020 </span>
                            <span>THEMES BACKEND TEKY. </span>
                            <span>All rights reserved. </span>
                        </p>
                        <p class="pull-right sm-pull-reset">
                            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>