<!-- Render list slides of a lesson -->

<div class="modal-dialog modal-lg" role="document" style='position: relative; display: table;overflow-y: auto;overflow-x: auto;width: auto; min-width: 60%'>
  <div class="modal-content">
    <div class="modal-body">
      <div class="redem-tab class-tab">
        <button type="button" class="close button-close-modal" data-dismiss="modal">&times;</button>
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#baigiang" data-toggle="tab">Bài giảng</a></li>
          <li id='giaoan_tab' style='display:none'><a href="#giaoan" data-toggle="tab">Giáo án</a></li>
          <li id='video_tab' style='display:none'><a href="#video_review" data-toggle="tab">Video bài học</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active in" id="baigiang">
            <ul>
              <% lessons.each do |slide| %>
                <li>
                  <%= link_to slide[1], learning_show_google_slide_path(slide[0]), {:class => 'btn btn-default btn-embossed', :remote => true} %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane in" id="giaoan">
          </div>
          <div class="tab-pane in" id="video_review">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
@media only screen and (min-width: 900px) {
  #baigiang {
    min-width: 900px;
  }
  #giaoan {
    min-width: 900px;
  }
}
  #video_review iframe{
    width: 100%;
    min-height: 480px;
  }
</style>
