<% pretty_files %>
<div class="modal-dialog modal-lg" role="document" style='position: relative; display: table;overflow-y: auto;overflow-x: auto;width: auto;'>
  <div class="modal-content">
    <div class="modal-body">
      <div class="redem-tab class-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#baigiang" data-toggle="tab">Bài giảng</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active in" id="baigiang">
            <%# <div class="bg-adds"> %>
            <%#   <% pretty_files.each do |file| %1> %>
            <%#     <div class="bg-left pull-left baigiang-thumbnail" data-baigiang-id='<%= file['id'] %1>'> %>
            <%#       <%= link_to "<img src='https://drive.google.com/thumbnail?authuser=0&sz=w320&id=#{file['id']}'>".html_safe, "#", :class => 'baigiang-thumbnail', :'data-baigiang-id' => "#{file['id']}" %1> %>
            <%#     </div> %>
            <%#   <% end %1> %>
            <%# </div> %>
            <% pretty_files.each do |file| %>
              <div class="bg-view bo-table baigiang-content" data-baigiang-id="<%= file['id'] %>">
                <%= file['google_drive_link'].html_safe %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
