<div class="modal-dialog modal-lg" role="document" style='position: relative; display: table;overflow-y: auto;overflow-x: auto;width: auto;'>
  <div class="modal-content">
    <div class="modal-body">
      <div class="redem-tab class-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#baigiang" data-toggle="tab">Bài giảng</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active in" id="baigiang">
            <% files.each do |file| %>
              <div class="bg-view bo-table baigiang-content">
                <%= file['google_drive_link'].html_safe %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
#baigiang iframe{
  width: 100%;
}
</style>
