<% pretty_files %>
<% binding.pry %>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="redem-tab class-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#baigiang" data-toggle="tab">Bài giảng</a></li>
          <!--          <li class=""><a href="#giaoan" data-toggle="tab">Giáo án</a></li>-->
          <!--          <li class=""><a href="#hoccu" data-toggle="tab">Học cụ</a></li>-->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active in" id="baigiang">
            <div class="bg-adds">
              <% pretty_files.each do |file| %>
                <div class="bg-left pull-left">
                  <%= link_to "<img src='https://drive.google.com/thumbnail?authuser=0&sz=w320&id=#{file.id}'>".html_safe, file.web_view_link, target: '_blank' %>
                </div>
              <% end %>
            </div>
            <div class="bg-view bo-table">
              <%= file.google_drive_link.html_safe %>
            </div>
          </div>
          <div class="tab-pane" id="giaoan">...</div>
          <div class="tab-pane" id="hoccu">...</div>
        </div>
      </div>
    </div>
  </div>
</div>
