<% if @video_id.present? %>
	<div class="card-block" style='text-align: center'>
	</div>
	<input type='hidden' value="<%= video_id %>" name='video_id'>
	<input type='hidden' value="<%= session_id %>" name='next_video_session_id'>
<% else %>
	<div class="card-block" style="text-align: center">
		<h2> Chưa có video ôn bài tiếp theo</h2>
	</div>
<% end %>
