<% all_student.map! { |st| [st[1], st[0]] } %>
<% subjects.map! { |s| [s[1], s[0]] } %>
<div class="modal-dialog" style="width: 80%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload sản phẩm của học sinh</h4>
      </div>
      <% project = SocialCommunity::ScStudentProject.new %>
      <div class="modal-body">
      <div id="edit_video_infomation">
        <%= render 'user/open_educat/shared/student_projects/forms/student_project_info', {all_student: all_student, subjects: subjects, url: social_community_sc_student_projects_create_student_project_path, project: project, batch_id: batch.id } %>
      </div>
      </div>
      <!-- <div class="modal-body">
        <div id="video_infomation">
          <div class='row' id="student_project_upload">
          </div>
          <div class='row' id="student_project_subject">
            <div class='col-md-3'>
              <label>Học phần <span style="color: red">*</span></label>
            </div>
            <div class="col-md-8">
              <select id="upload_project_subject">
                <%# subjects.each do |k, v| %>
                  <option value="<%#= k %>"><%#= v %></option>
                <%# end %>
              </select>
            </div>
          </div>
          <div class="project_name row">
            <div class='col-md-3'>
              <label>Tên sản phẩm <span style='color: red'>*</span></label>
            </div>
            <div class='col-md-8'>
              <input placeholder="Tên sản phẩm" name="project_name" type="text"></input>
            </div>
          </div>
          <div class="project_video row">
            <div class='col-md-3'>
              <label>Video trình bày:</label>
            </div>
            <div class= 'col-md-8'>
              <input name="project_video" type="file"></input>
              <div id='upload_progress_bar'>
              <progress id="progressBar" value="0" max="100" style="width: 100%; height: 10px;"></progress>
              </div>
            </div>
          </div>
          <div class="project_slide row">
            <div class='col-md-3'>
              <label>Slide sản phẩm:</label> 
            </div>
            <div class='col-md-8'>
              <input name="project_slide" type="file"></input>
            </div>
          </div>
          <div class="project_presentation row">
            <div class='col-md-3'>
              <label>Link sản phẩm</label>
            </div>
            <div class='col-md-8'>
              <input placeholder="Link sản phẩm" name="project_action" type="text"></input>
            </div>
          </div>
          <div class="project_description row">
            <div class='col-md-3'>
              <label>Mô tả sản phẩm </label>
            </div>
            <div class='col-md-8'>
              <textarea name='project_description' placeholder="Mô tả về sản phẩm" rows='5'></textarea>
            </div>
          </div>
        </div>
      </div> -->

      <div class="modal-footer">
        <input type='submit' form='edit_student_project_form' class='btn btn-primary' value='Submit'>
        <button data-dismiss="modal" type="button" class="btn btn-primary" style="background-color: #5DC2A7;">Close</button>
      </div>
    </div>
  </div>
<style>
  #upload_progress_bar {
    display: none;
  }
  #upload_project_subject {
    width: 100%
  }
  .progress{
    margin: 0 0 15px 0;
  }
  .progress-bar-striped, .progress-striped .progress-bar{
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    animation: progress-bar-stripes 2s linear infinite !important;
    background-size: 40px 40px;
  }
  .upload_done {
    font-size: 15px;
      color: ##5DC2A7;
  }
  .upload_failt {
    font-size: 15px;
      color: #f42929:
</style>
