<% all_student.map! { |st| [st[1], st[0]] } %>
<% subjects.map! { |s| [s[1], s[0]] } %>
<div class="modal-dialog" style="width: 80%" role="document">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close button-close-modal" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" id="uploadStudentProjectTitle">Upload sản phẩm của học sinh</h4>
    </div>
    <% project = SocialCommunity::ScStudentProject.new %>
    <div class="modal-body">
      <div id="edit_video_infomation">
        <%= render 'user/open_educat/shared/student_projects/forms/student_project_info', {all_student: all_student, subjects: subjects, url: social_community_sc_student_projects_create_student_project_path, project: project, batch_id: batch.id, project_type: project_type } %>
      </div>
    </div>
    <div class="modal-footer">
      <input type='submit' data-remote='true' form='edit_student_project_form' class='btn btn-primary edit_student_project_form_submit' value='Submit'>
      <button data-dismiss="modal" type="button" class="btn btn-secondary close-modal">Đóng</button>
    </div>
  </div>
</div>
<style>
#upload_progress_bar {
  display: none;
}
  #upload_project_subject {
    width: 100%
  }
  .progress{
    margin: 0 0 15px 0;
  }
  .progress-bar-striped, .progress-striped .progress-bar{
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    animation: progress-bar-stripes 2s linear infinite !important;
    background-size: 40px 40px;
  }
  .upload_done {
    font-size: 15px;
    color: ##5DC2A7;
  }
  .upload_failt {
    font-size: 15px;
    color: #f42929;
  }
</style>
<script>
  $('.edit_student_project_form_submit').on('click', function(e){
    if (!$(tinyMCE.get('social_community_sc_student_project_description').getBody()).text().length > 0){
      e.preventDefault();
      alert("Mô tả sản phẩm không được để trống!");
    }
  })
  $('#edit_student_project_form').ready(function(){
    $('.edit_student_project_form_submit').on('click', function(){
      if ($('#presentation_had_change').val() == '1'){
         $('.progress-presentation').show()
      }
      if ($('#video_had_change').val() == '1'){
         $('.progress-video').show()
      }
    })
  })
</script>
