.fl_input {
  -webkit-appearance: none;
}
.public_notice_title {
  color: black;
}
/*=============================== Sidebar =========================*/
.sidebar {
  span {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
  .logopanel {
    height: 60px !important;
  }
  .sidebar-inner {
    .mCSB_container {
      margin-right: 0;
      .noti-avatar {
        padding-top: 20px;
        ul {
          li {
            img {
              width: 40px !important;
              height: 40px;
            }
            span {
              margin-top: 0
            }
            span.public_profile {
              margin-left: 40px;
              margin-top: 0px;
              label {
                font-size: 14px;
                font-family: 'Quicksand', sans-serif;
                font-style: normal;
                font-variant: normal;
                font-weight: 700;
              }
              p {
                font-size: 14px;
                color: white;
                font-family: 'Quicksand', sans-serif;
              }
            }
          }
        }
        #public_profile {
          position: absolute;
          left: 60px;
          padding: 0;
          bottom: -3px;
        }
      }
      .noti-nav {
        padding: 10px 0 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid #414348;

      }
    }
  }
  .mCS_destroyed {
    width: 60px;
  }
}
.img-changes {
  margin-right: 20px !important
}
.activea {
  a {
    span {
      padding-left: 15px !important
    }
  }
}
.noti-nav {
  margin-bottom: 0 !important;
}
.user_full_name_over{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*================================= My Class ===========================*/
.header-title{
  font-size: 18px !important;
  font-weight: 700;
}
.student_batch_list {
  padding-left: 25px !important;
  padding-right: 25px !important;
  .scl-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    .spanimg {
      max-height: 250px;
      height: 250px;
      .scl-danger {
        font-size: 12px;
        text-align: center;
        width: 130px;
      }
      .scl-success {
        font-size: 12px;
        text-align: center;
        width: 130px;
      }
      .scl-save {
        font-size: 12px;
        text-align: center;
        width: 130px;
      }
    }
  }
  .scl-text{
    display: flex;
    height: calc(100% - 250px);
    padding-left: 20px;
    padding-right: 20px;
    .custom_scl-right {
      display: flex;
      align-items: baseline;
      justify-content: right;
      margin-left: auto;
    }
    .scl-left {
      padding-left: 0;
    }
    a {
      background-color: #5DC2A7;
      width: 100%;
      height: auto !important;
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
      margin: 0;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 24px;
          margin-right: 5px;
        }
      }
    }
    .btn-stop-batch {
      background-color: #505050;
      box-shadow: 0px 2px 0px #000000;
      border-radius: 5px;
    }
    .btn-studying-batch {
      background-color: #5DC2A7;
      box-shadow: 0px 2px 0px #41A6A2;
      border-radius: 5px;
    }
    .btn-save-batch {
      background-color: #505050;
      box-shadow: 0px 2px 0px #000000;
      border-radius: 5px;
    }
  }
  .custom_scl-right{
    margin: 0;
    height: 100%;
    max-width: 140px;
  }
}

/*--------------------------------- Batch info ----------------------*/
.student_batch_tab {
  text-transform: uppercase;
  font-weight: 600;
}
.batch-detail-info {
  ul {
    padding-top: 15px;
    li {
      padding: 7px 0 7px 30px !important;
    }
  }
}
.batch_info_table {
  margin-bottom: 0 !important;
  thead {
    tr {
      border-bottom: 3px solid #D7DFE9;
      th {
        padding-top: 5px !important;
        padding-bottom: 15px !important;
      }
    }
  }
  td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #6D7278;
    font-weight: 500;
  }

  .active_student {
    color: #0654BA !important;
    font-weight: 700;
  }
  .active_student_code {
    color: black;
    font-weight: 700;
  }
  .label-edit {
    font-weight: 700;
  }
}
.step-img {
  padding-top: 7px;
}
#course_description_panel {
  hr {
    border: 1px dashed #CFCFCF;
  }
}

.batch_info_table_content {
  .label-course {
    width: 35px;
    height: 20px;
  }
  tr {
    td {
      span.img-star{
        img {
          width: 20px;
          height: 20px;
        }
      }
      span.star {
        font-size: 14px;
        font-weight: bold;
        color: #FFC400;
      }
    }
  }
}


/*------------------------ Homework ------------*/
#homework_tab1 {
  .table-responsive.bo-table {
    padding-bottom: 0 !important
  }
}
#homework_session_table {
  border-top: 3px solid #D7DFE9;
  border-bottom: 0;
  margin-bottom: 0;
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: none;
  }
}
#do_question_container{
  .fc-header {
   border-bottom: 3px solid #D7DFE9; 
  }
  .fc-other {
    padding-bottom: 50px;
    border-right: 2px solid #D7DFE9;
  }
}
.student_homework_view {
  color: #7E858E;
  font-weight: 700;
}
.do_homework_state {
  color: white;
  .label-sucess {
    background: #2CCA73;
  }
  .label-danger {
    background: #FF0D38;
  }
  .label-stop {
    background: #171F45;
  }
}

.homework-title {
  text-transform: uppercase;
}

.check-multi {
  color: black;
}

.fc-other .fco-title {
  padding: 20px 100px 20px 0px !important;
}

#homework_question_content {
  .fco-ques {
    border-bottom: 1px dashed #D7DFE9;
    p {
      font-size: 14px;
      color: black;
    }
  }
  .fco-answ {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

#answer_the_question{
  font-size: 18px;
  padding: 10px;
  height: auto;
  img {
    width: 18px;
  }
}

.answer_respnse_button {
  text-transform: uppercase;
}

.do_video_homework {
  text-transform: uppercase;
  font-weight: 700;
}

/*-------------------------- Coming soon session --------------------------------*/

.coming_soon_session_name {
  td {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }
  td:last-child {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
  }
  p {
    strong{
      color: #6D7278 !important;
    }
  }
}


/*--------------------------------------------- Timetable ---------------------------------------------------------*/

.day_in_week {
  th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
    background-color: #D7DFE9;
    span {
      font-weight: 500;
    }
  }
}

.student_timetable {
  .chosse-date {
    p span{
      color: black;
      font-weight: 700;
    }
  }
  .month_teaching_schedule {
      color: black !important;
      font-weight: 700 !important;
  }
  .year_teaching_schedule {
    color: black;
    font-weight: 700;
  }
  .ct-note {
    color: black;
    font-weight: 700;
    .ct-right {
      text-transform: none;
    }
  }
}
