.sidebar
  .logopanel
    %h1
      %a{:href => "dashboard.html"}
  .sidebar-inner
    .noti-avatar
      %ul.nav.nav-sidebar.nav-sidebar-edit.m-b-0
        %li.nav-active
          %a{:href => ""}
            %img{:alt => "", :src => "assets/global/images/avatar.png"}
              %span
                %label{:for => ""} Kiều Chí Công
                %p TK-123456789
    .noti-nav
      %ul.nav.nav-sidebar.nav-sidebar-edit.m-b-0
        %li.nav-active
          %a{:href => ""}
            %img{:alt => "", :src => "assets/global/images/active/icon-Setting.png"}
              %span C&#x1EA5;u h&#xEC;nh
        %li
          %a{:href => "#"}
            %img{:alt => "", :src => "assets/global/images/active/Icon-Bell.png"}
              %span B&#xE0;i t&#x1EAD;p  &#xD4;n b&#xE0;i
              %span.nn-alert 12
        %li
          %a{:href => "#"}
            %img{:alt => "", :src => "assets/global/images/active/Icon-Inbox.png"}
              %span Ti&#x1EBF;n &#x111;&#x1ED9; h&#x1ECD;c t&#x1EAD;p
              %span.nn-alert 3
    %ul.nav.nav-sidebar.nav-sidebar-edit
      %li.nav-active.activea
        %a{:href => "dashboard.html"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-Dashboard.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-Dashboard.png"}
              %span Dashboard
      %li
        %a{:href => "#"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-BaiTapOnBai.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-BaiTapOnBai.png"}
              %span B&#xE0;i t&#x1EAD;p  &#xD4;n b&#xE0;i
      %li
        %a{:href => "#"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-TienDoHocTap.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-TienDoHocTap.png"}
              %span Ti&#x1EBF;n &#x111;&#x1ED9; h&#x1ECD;c t&#x1EAD;p
      %li
        %a{:href => "#"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-Certificate.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-Certificate.png"}
              %span Ch&#x1EE9;ng ch&#x1EC9;
      %li
        %a{:href => "#"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-SPhocsinh.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-SPhocsinh.png"}
              %span S&#x1EA3;n ph&#x1EA9;m c&#x1EE7;a h&#x1ECD;c sinh
      %li
        %a{:href => "#"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-Redem.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-Redem.png"}
              %span &#x110;&#x1ED5;i &#x111;i&#x1EC3;m l&#x1EA5;y qu&#xE0;
      %li
        %a{:href => "#"}
          %img.img-changes{:alt => "", :src => "assets/global/images/no-active/ico-Invoice.png"}
            %img.img-change-color{:alt => "", :src => "assets/global/images/active/ico-Invoice.png"}
              %span Ho&#xE1; &#x111;&#x1A1;n
