.topbar
  .header-left
    .topnav
      %a.menutoggle{"data-toggle" => "sidebar-collapsed", :href => "#"}
        %span.menu__handle
          %span Menu
  .header-right
    %ul.header-menu.nav.navbar-nav
      %li#language-header.dropdown
        %a{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          %i.icon-globe
          %span Ngôn ngữ
        %ul.dropdown-menu
          %li
            %a{"data-lang" => "en", :href => "#"}
              %img{:alt => "flag-english", :src => "assets/global/images/flags/usa.png"}/
              %span English
          %li
            %a{"data-lang" => "es", :href => "#"}
              %img{:alt => "flag-english", :src => "assets/global/images/flags/spanish.png"}/
              %span Español
          %li
            %a{"data-lang" => "fr", :href => "#"}
              %img{:alt => "flag-english", :src => "assets/global/images/flags/french.png"}/
              %span Français
      %li#teky-logout.dropdown
        %a{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          %img{:alt => "user image", :src => "assets/global/images/logout.png"}/
