<div class="topbar">
    <div class="header-left">
        <div class="topnav">
            <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            
        </div>
    </div>
    <div class="header-right">
        <ul class="header-menu nav navbar-nav">
            <li class="dropdown" id="language-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-globe"></i>
                    <span>Ngôn ngữ</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-lang="en"><%= image_tag "global/images/flags/usa.png" %><span>English</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-lang="es"><%= image_tag "global/images/flags/spanish.png" %> <span>Español</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-lang="fr"><%= image_tag "global/images/flags/french.png" %><span>Français</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" id="teky-logout">
                <%=link_to image_tag("global/images/logout.png", border: 0), user_logout_path %>
            </li>
        </ul>
    </div>
</div>