<!--Local variable: cancel_session-->

<tr>
  <td>
    <div class="calenda-box">
      <div class="cb-tit">
        <p>december</p>
      </div>
      <div class="cb-con">
        <strong>07</strong>
        <p>18:00 - 20:00<br/>Thứ 7</p>
      </div>
    </div>
  </td>
  <td>
    <div class="photo-box">
      <span><img src="" alt=""></span>
    </div>
  </td>
  <td>
    <strong>Cần lấy dữ liệu này</strong><br/>
    Cần lấy dữ liệu này <br/>
    Cần lấy dữ liệu này
  </td>
  
  <td align="right">

  </td>
</tr>