<!--Local variable: cancel_session-->

  <%= render 'user/shared/session/row/session_calendar_box', {:session => session} %>
  <% lesson = session.op_lession %>
  <td>
    <div class="photo-box">
        <span>
          <%= thumbnail_tag  lesson%>
        </span>
    </div>
  </td>
  <td>
    <strong>Cần lấy dữ liệu này</strong><br/>
    Cần lấy dữ liệu này <br/>
    Cần lấy dữ liệu này
  </td>

  <td align="right">

  </td>
