<!--Local variable: to_be_session -->

<tr>
  <td>
    <div class="calenda-box">
      <% start_datetime = session.start_datetime %>
      <% end_datetime = session.end_datetime %>
      <div class="cb-tit">
        <p><%= start_datetime.strftime('%B') %></p>
      </div>
      <div class="cb-con">
        <strong><%= start_datetime.strftime('%d') %></strong>
        <p><%= start_datetime.strftime('%H-%M') %> - <%= end_datetime.strftime('%H-%M') %><br/>Thứ 7</p>
      </div>
    </div>
  </td>
  <td>
    <div class="photo-box">
      <span><img src="" alt=""></span>
    </div>
  </td>
  <td>
    <strong>Cần lấy dữ liệu này</strong><br/>
    Cần lấy dữ liệu này <br/>
    Cần lấy dữ liệu này
  </td>
  <td align="right">
  </td>
</tr>