.owl-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid gray !important;
  border-radius: 50%;
  top: 40% !important;
  left: -20px;
  margin-left: -20px;
  display: block !important;
  background-color: white !important;
}

.owl-next {
  position: absolute;
  right: -40px !important;
  width: 50px;
  height: 50px;
  border: 2px solid gray !important;
  border-radius: 50%;
  top: 40% !important;
  margin-left: -20px;
  display: block !important;
  background-color: white !important;
}

.owl-prev span, .owl-next span {
  line-height: 50px !important
}

.post-box {
  margin-bottom: 20px !important;
  border: 1px solid #D7DFE9 !important;
}

.post-content {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: none;
  font-weight: 700;
  line-height: normal;
}

.cmt-user {
  color: #0654BA;
  font-style: normal;font-variant: normal;font-weight: 400;
}

.panel-content .bnd-all-other {
  padding: 10px 0;
  border: 1px solid #e7e9ed;
  border-left: 0;
  border-right: 0;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

#dashboard-content.tab-content {
  background-color: inherit;
  boder-top: none;
  padding: 15px 0 15px 0;
}

.panel {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #D7DFE9 !important;
}

#li_homeFeeds a {
  text-transform: uppercase;
  font-weight: 500;
}

#li_newFeeds a {
  text-transform: uppercase;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

.s-coming-soon-c-name {
  text-transform: uppercase;
}

.d-no-coming-soon-session {
  line-height: 50px;
}

div.user-custom-post-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

p.ucp--content {
  background: #ffffff;
}

label.add-new-cp-photos {
  display: inline;
}

button.add-new-post {
  display: inline;
  color: transparent;
  border-color: transparent;
  background: transparent;
}

.intro_project iframe {
    width: 100%;
    height: -webkit-fill-available;
}
.show_project iframe {
    width: 100%;
    height: -webkit-fill-available;
}
