.color-000 {
  color: #000 !important;
}

.show_course_projects {
  float: right;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  color: #0654BA;
  text-transform: uppercase;
}

.no-projects {
  text-align: center;
}
.project_progress {
  height: 20px;
  margin-top: 20px;
}

.student_project_show {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.project_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  height: 175px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project_control {
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.prod-img:hover .project_image {
  opacity: 0.3;
}

.prod-img:hover .project_control {
  opacity: 1;
}

.project_control button {
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
}

.edit_project {
  background: #fcf055;
}

button.edit_project {
  padding: 10px !important;
}

.public_project {
  background: #9966ff;
}

button.public_project {
  padding: 10px !important;
}

.show_project {
  background: #5cd2a7;
}

.prod-detail .icon {
  width: 22px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.project-info {
  background-color: #D7DFE9
}

.prod-text .project-name {
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.prod-text .project-description {
  text-align: justify;
  font-size: 14px;
  font-weight: 515;
  height: 130px;
  overflow: hidden;
}

.prod-detail .prod-text label {
  font-weight: 700;
  text-transform: uppercase;
}

.prod-detail .prod-text a {
  font-weight: bold;
}

.fc-header h3 {
  padding-bottom: 0 !important;
}

.course_project_list.fc-header {
  border-bottom: none !important;
  padding-bottom: 0px;
}

.course_project_list.fc-header h4{
  text-transform: uppercase;
}

.filter_label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
}

/* Hide the browser's default checkbox */
.filter_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter_label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter_label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter_label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter_label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
