.project_detail {
  width: 100%;
  margin-bottom: 10px;
}

  .project_detail_select .project_detail {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }

  #edit_student_project_form select:hover {
    -webkit-appearance: auto;
  }

  #edit_student_project_form select {
    padding: 10px;
  }

  #edit_upload_project_subject:hover {
    -webkit-appearance: auto;
  }

  #edit_upload_project_subject {
    width: 100% !important;
    margin: 10px 0;
    padding: 5px 1px;
  }

  #edit_upload_project_student {
    width: 100% !important;
    padding: 5px 1px;
  }

  #edit_upload_project_student:hover {
    -webkit-appearance: auto;
  }

  .project_name {
    margin-bottom: 10px
  }

  .project_name input {
    padding: 10px
  }

  .upload_layer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #e3e3e3;
    padding: 20px;
  }

  .upload_image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload_image img {
    width: 30%
  }

  #upload_project_video {
    display: none;
  }

  .blank_show_video {
    display: none;
  }

  .present_show_video {
    display: block;
  }

  #upload_project_presentation {
    display: none;
  }

  .upload_project_video iframe {
    width: 100%;
    height: 100%;
  }

  #upload_project_file {
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: #e3e3e3;
  }

  .upload_project_file .upload_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .upload_info p {
    text-align: center;
  }

  .progress {
    height: 20px;
    display: none;
    margin-top: 20px !important;
  }

  .progress div {
    line-height: 20px;
    font-size: 12px;
    height: 100%;
    font-weight: 700;
  }

  #download-presentation img {
    width: 20px;
  }

  .click_to_update {
    font-size: 14px;
    font-family: 'Monsterrat';
    font-weight: 600;
    text-decoration: underline;
    color: #5DC2A7;
    cursor: pointer;
  }

  #edit_student_project_form input {
    background-color: white;
  }

  #edit_student_project_form select {
    background-color: white;
  }
