<h1>Editing Redeem Redeem Product Color</h1>

<%= render 'form', adm_redeem_redeem_product_color: @adm_redeem_redeem_product_color %>

<%= link_to 'Show', @adm_redeem_redeem_product_color %> |
<%= link_to 'Back', adm_redeem_redeem_product_colors_path %>