<div class="col-sm-4">
  <div class="bt-left">
    <div class="box-imglist">
      <span>
        <img src="assets/global/images/Bitmap3.png" alt="">
      </span>
    </div>
    <div class="box-about">
      <%= description.html_safe %>
      <a href="" class="ba-more">Xem toàn bộ</a>
    </div>
  </div>
</div>
