<div class="lvs-detail">
  <span class="lvd-img"><img src="assets/global/images/Bitmap3.png" alt=""></span>
  <p>LẬP TRÌNH SCRATCH, THỰC HÀNH VỚI TRUETRUE</p>
  <div class="lvd-footer">
    <div class="lvf-left">
      <a class="view-course-detail" href="">Xem chi tiết</a>
      <ul>
        <li><span class="bg-5DC2A7"></span></li>
        <li><span class="bg-FCF055"></span></li>
        <li><span class="bg-EB9138"></span></li>
      </ul>
    </div>
    <div class="lvf-right">
      <span class="chart-line"><span class="chart-line-child" style="width: 10%"></span></span>
      <b>10%</b>
    </div>
  </div>
</div>
