<!-- html code -->
<% content_for :javascript_includes do %>
  <%= javascript_include_tag ('swiper.min.js') %>
<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag ('swiper.min.css') %>
<% end %>
<%= stylesheet_link_tag "learning/learning" %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Khóa học</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <% @courses.each_with_index do |course, index| %>
        <%= render :partial => "course", :locals => {course: course, index: index} %>
      <% end %>
    </div>
  </div>
</div>

<style>
a.view-course-detail {
  color: #0654BA;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}
</style>
