<div class="page-content page-thin">

  <!-- InstanceBeginEditable name="EditRegion1" -->
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <h2 class="text-transform" style="margin-top: 50px; border-bottom: 2px solid gray; padding: 5px"><%= @course.name %></h2>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in">
          <div class="bo-table">
            <div class="form-content">
              <div class="box-progress" id='lessons_list'>
                <div class='table-responsive'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
