<!-- Render photo post here -->
<!-- Variables: feed, message, photos-->
<div class='panel post-box'>
  	<div class='panel-content'>
	    <div class="bnd-title">
	      <h2><span style='color: black' class='post-content'> <%= message %> </span></h2>
	    </div>
	    <%= render :partial => "social_community/dashboards/shared/photos", :locals => {photos: photos, post: feed.post} %>
	</div>
    <%= render :partial => "social_community/dashboards/shared/posts/reactions", :locals => {post: feed.post, count_like: feed.count_like, count_love: feed.count_love, count_sad: feed.count_sad} %>
    <div class="sub-panel-content">
    <%= render :partial => "social_community/dashboards/shared/posts/comments", :locals => {post: feed.post, comments: feed.comments} %>    	
    </div>
</div>
<style>
  .close-modal {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    right: 20px;
    z-index: 10;
    color: white;
  }
  .close-modal:hover {
    color: white;
  }
  .fotorama__fullscreen-icon {
    display: none;
  }
  .fotorama__nav-wrap {
    background-color: black;
  }
  .fotorama__wrap--slide .fotorama__stage__frame {
    background-color: black;
  }
</style>