<div class="page-content page-thin">  
  <div class="row">

    <%= form_for SocialCommunity::Picture.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>

    <form id="fileupload" action="https://jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" class="">
      <!-- Redirect browsers with JavaScript disabled to the origin page -->
      <noscript><input
                  type="hidden"
                  name="redirect"
                  value="https://blueimp.github.io/jQuery-File-Upload/"
                  /></noscript>
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
          <!-- The fileinput-button span is used to style the file input field as button -->
          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" name="files[]" multiple="">
          </span>
          <button type="submit" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
          </button>
          <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
          </button>
          <button type="button" class="btn btn-danger delete">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete selected</span>
          </button>
          <input type="checkbox" class="toggle">
          <!-- The global file processing state -->
          <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
          <!-- The global progress bar -->
          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
          </div>
          <!-- The extended global progress state -->
          <div class="progress-extended">&nbsp;</div>
        </div>
      </div>
      <!-- The table listing the files available for upload/download -->
      <table role="presentation" class="table table-striped">
        <tbody class="files"><tr class="template-upload fade image in">
            <td>
              <span class="preview"><canvas width="80" height="38"></canvas></span>
            </td>
            <td>
              <p class="name">sphs.png</p>
              <strong class="error text-danger"></strong>
            </td>
            <td>
              <p class="size">105.67 KB</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>

              <button class="btn btn-success edit" data-index="0">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Edit</span>
              </button>


              <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>


              <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>

            </td>
          </tr><tr class="template-upload fade image in">
            <td>
              <span class="preview"><canvas width="80" height="61"></canvas></span>
            </td>
            <td>
              <p class="name">finding the right advice.jpg</p>
              <strong class="error text-danger"></strong>
            </td>
            <td>
              <p class="size">45.57 KB</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>

              <button class="btn btn-success edit" data-index="0">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Edit</span>
              </button>


              <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>


              <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>

            </td>
          </tr><tr class="template-upload fade image in">
            <td>
              <span class="preview"><canvas width="80" height="41"></canvas></span>
            </td>
            <td>
              <p class="name">error-sphs.png</p>
              <strong class="error text-danger"></strong>
            </td>
            <td>
              <p class="size">132.77 KB</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>

              <button class="btn btn-success edit" data-index="0">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Edit</span>
              </button>


              <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>


              <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>

            </td>
          </tr><tr class="template-upload fade image in">
            <td>
              <span class="preview"><canvas width="80" height="41"></canvas></span>
            </td>
            <td>
              <p class="name">error.png</p>
              <strong class="error text-danger"></strong>
            </td>
            <td>
              <p class="size">315.63 KB</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>

              <button class="btn btn-success edit" data-index="0">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Edit</span>
              </button>


              <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>


              <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>

            </td>
          </tr><tr class="template-upload fade image in">
            <td>
              <span class="preview"><canvas width="65" height="80"></canvas></span>
            </td>
            <td>
              <p class="name">admin-left-nav.png</p>
              <strong class="error text-danger"></strong>
            </td>
            <td>
              <p class="size">52.01 KB</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>

              <button class="btn btn-success edit" data-index="0">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Edit</span>
              </button>


              <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>


              <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>

            </td>
          </tr><tr class="template-upload fade image in">
            <td>
              <span class="preview"><canvas width="80" height="41"></canvas></span>
            </td>
            <td>
              <p class="name">Upper-IntermediateEnglish.png</p>
              <strong class="error text-danger"></strong>
            </td>
            <td>
              <p class="size">831.07 KB</p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>

              <button class="btn btn-success edit" data-index="0">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Edit</span>
              </button>


              <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>


              <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>

            </td>
          </tr></tbody>
      </table>
    <% end %>
  </div>
</div>
