<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Thay đổi hình nền đại diện</h4>
    </div>
    <div class="modal-body p-t-0">
      <ul class="modal-avalist">
        <% avatars.each do |avatar| %>
          <li>
            <a href="" id="">
              <%= image_tag avatar['thumbnail'] %>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="modal-avabig">
        <span><img src="assets/global/images/avabig.png"></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal">Lưu lại</button>
    </div>
  </div>
</div>
