<div id="modal_student_product" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sản phẩm: Phim hoạt hình the Ocean</h4>
      </div>
      <div class="modal-body learning_device_content">
        <div class='student_info'>
          <p><strong>Học sinh:</strong>Kiều Vũ Tuệ Nhi</p>
          <p><strong>Khoá học:</strong>Siêu nhân lập trình Python</p>
          <p><strong>Lớp:</strong>C-RB-916-XCTRB-L1</p>
          <p><strong>Cơ sở:</strong>Teky-Cầu Giấy</p>
          <hr>
          <h4>Mô tả sản phẩm</h4>
          <p>Content</p>
        </div>
      </div>
    </div>

  </div>
</div>
