<h3 class="dis-inlineblock"><%= course.name %></h3><br/>
<p class="dis-inlineblock">Học phần <%= subject.level %> - <span id='video_lesson_name'><%= lesson.name if lesson.present? %> </span></p>
<ul class="lv-btn">
  <!--  <li><a type="submit" href='' class="do_video_homework btn bg-5DC2A7" >Làm bài tập</a></li> -->
  <!-- <li><button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7 width-100 text-transform font-bold" >Nội dung & kiến thức học được</button></li> -->
</ul>
