<div id="loading_filter_box" class="row" style="margin-left: -5px; margin-right: -5px;">
  <div class="col-md-4  p-r-5 p-l-5" style="background-color: white">
    <div class='loading_item loading_text_div'>
      <div class='loading_text loading_div'></div>
    </div>
  </div>
  <div class="col-md-3  p-r-5 p-l-5">
    <div class='loading_item loading_div'></div>
  </div>
  <div class="col-md-3  p-r-5 p-l-5">
    <div class='loading_item loading_div'></div>
  </div>
  <div class="col-md-2  p-r-5 p-l-5">
    <div class='loading_item loading_div'></div>
  </div>
</div>
<style>
  #loading_filter_box {
    height: 60px;
    width: 100%;
  }
  #loading_filter_box div{
    height: 100%;
  }
  .loading_item {
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
  }
  .loading_text_div {
    background-color: white !important;
    display: flex;
    align-items: center;
  }
  .loading_text {
    width: 80%;
    height: 30px !important;
    background-color: #f0f2f5;
  }
</style>
