<div class='col-md-3'>
  <div >
    <input type='hidden' name="upload_project_subject" value="<%= id %>">
    <button class='upload_project' type="button" data-toggle="modal" data-target='#upload_youtube_video_modal'>
      <%= image_tag('upload_video.png') %>
    </button>
  </div>
</div>
