<div class="page-content page-thin">

  <!-- InstanceBeginEditable name="EditRegion1" -->
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <!-- <div class="ph-img">
          <span><img src="/global/images/avatar.svg" alt=""></span>
      </div> -->
      <div class="ph-text">
        <h2 class="color-fff text-transform">Chấm bài học sinh</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in" >

          <div class="table-responsive bo-table">
            <div class="filter-box FlowupLabels" id='formBody'>
              <div class="row">
                <div class="col-md-4">
                  <label class="filter-title student_course_title">Danh sách lớp học</label>
                </div>
                <div class="col-md-3" style='float: right;'>
                  <div class='fl_wrap m-t-0'>
                    <label class='fl_label' for='rf_name'>Lớp học:</label>
                    <select class='fl_input' id="batch_user_answer_list">
                      <% @batches.each do |batch| %>
                        <option value="<%= batch.id %>"><%= batch.name %></a></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-md-3" style='float: right'>
                  <div class='fl_wrap m-t-0 populated'>
                    <label class='fl_label' for='rf_name'>Trạng thái:</label>
                    <select class='fl_input' id="answer_state_filter">
                      <option value="done">Đã chấm</option>
                      <option value="undone">Chưa chấm</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-hover table-link" id="user_answer_list" remote='true'>
            </table>
            <%= render 'learning/learning_records/marking_question/modal_marking' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
