<div class="page-content page-thin">

  <!-- InstanceBeginEditable name="EditRegion1" -->
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <!-- <div class="ph-img">
          <span><img src="assets/global/images/avatar.svg" alt=""></span>
      </div> -->
      <div class="ph-text">
        <h2 class="color-fff text-transform">Bài tập & ôn bài</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <a href="Student_BT-OB_BTVN-LIST.html" class="PC-back"><img src="assets/global/images/quaylai.svg" alt="">Quay lại</a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="Student_BT-OB_BTVN-LIST.html">Bài tập về nhà</a></li>
        <li class=""><a href="Student_BT-OB_OB2.html">Ôn bài</a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in">
          <div class="bo-table">
            <div class="form-content">
              <div class="fc-header">
                <h3>Siêu nhân lập trình Python</h3>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="fc-other">
                    <div class="fco-title">
                      <label for="">BÀI 1: HELLO WORLD</label>
                      <p>
                        Quá trình hình thành và phát triển Những ứng dụng thực tế từ Python (Google, Instagram, Youtube...); Đặc điểm của ngôn ngữ Python; Cài đặt và set up môi trường cho Python; Giới thiệu trình soạn Shell, và IDLE; Demo một số câu lệnh đơn giản: Print
                      </p>
                      <span>1/4 Bài</span>
                    </div>
                    <div class="fco-ques">
                      <div class="fcoq-tit">
                        <label for="">NỘI DUNG BÀI TẬP SỐ 1:</label>
                        <p>Em hãy nêu các cách để sử dụng điện an toàn và không lãng phí</p>
                      </div>
                      <div class="fcoq-con">
                        <img src="assets/global/images/Bitmap.png" alt="">
                      </div>


                    </div>
                    <div class="fco-answ">
                      <div class="fcoa-tit">
                        <label for="">Trả lời</label>
                      </div>
                      <div class="fcoa-con">
                        <textarea rows="4" placeholder="Nhập nội dung câu trả lời"></textarea>
                        <span class="line-textarea line-textarea1"></span>
                        <span class="line-textarea line-textarea2"></span>
                        <span class="line-textarea line-textarea3"></span>
                        <span class="line-textarea line-textarea4"></span>
                      </div>
                    </div>

                    <div class="fco-answ">
                      <div class="fcoa-tit">
                        <label for="">Trả lời</label>
                      </div>
                      <div class="fcoa-con">
                        <label class="check-multi">Hình trong
                          <input type="checkbox" checked="checked">
                          <span class="checkmark">A</span>
                        </label>
                        <label class="check-multi">Hình cong
                          <input type="checkbox">
                          <span class="checkmark">B</span>
                        </label>
                        <label class="check-multi">Không vẽ gì cả
                          <input type="checkbox">
                          <span class="checkmark">C</span>
                        </label>
                        <label class="check-multi">Hình vuông
                          <input type="checkbox">
                          <span class="checkmark">D</span>
                        </label>
                      </div>
                    </div>

                    <div class="fco-answ">
                      <div class="fcoa-tit">
                        <label for="">Trả lời</label>
                      </div>
                      <div class="fcoa-con">
                        <label class="check-multi">Đúng
                          <input type="radio" name="radio">
                          <span class="checkmark">A</span>
                        </label>
                        <label class="check-multi">Sai
                          <input type="radio" checked="checked" name="radio">
                          <span class="checkmark">B</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="fc-footer">
                    <div class="paging">
                      <ul>
                        <li><a href="" class="btn btn-primary btn-embossed active bg-5DC2A7">1</a></li>
                        <li><a href="" class="btn btn-primary btn-embossed bg-CFCFCF">2</a></li>
                        <li><a href="" class="btn btn-primary btn-embossed bg-CFCFCF">3</a></li>
                        <li><a href="" class="btn btn-primary btn-embossed bg-CFCFCF">4</a></li>
                      </ul>
                    </div>
                    <div class="btn-submit">
                      <button type="submit" data-toggle="modal" data-target="#modal-basic" class="btn btn-primary btn-embossed bg-5DC2A7"><img src="assets/global/images/submit.png" alt="">nộp bài tập</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="fc-chat">
                    <div class="fcc-btn">
                      <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7 width-100 text-transform font-bold" >Ôn lại bài đã học</button>
                    </div>
                    <div class="fcc-que">
                      <form action="" class="form-group">
                        <input type="text" class="form-control form-white" placeholder="Bạn muốn hỏi gì ?">
                        <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7">Hỏi</button>
                      </form>
                    </div>
                    <div class="fcc-anw">
                      <div class="fcca-head">
                        <label>Hỏi:</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                      </div>
                      <div class="fcca-main">
                        <ul>
                          <li><span><img src="assets/global/images/avatar.svg" alt=""></span></li>
                          <li><input type="text"></li>
                        </ul>
                        <div class="fcm-anw">
                          <div class="fcma-tit">
                            <img src="assets/global/images/Bitmaps.png" alt="">
                            <label for="">Kiều Chí Công<br/><span>Giảng viên</span></label>
                          </div>
                          <div class="fcma-cmt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <span>2 ngày trước</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content m-b-20">

          <div class="modal-body text-center modal-edit">
            <img src="assets/global/images/Happy.png" alt="">
            <h3>Chúc mừng</h3>
            <p class="text-center">Con đã <b class="text-transform color-EB9138">trả lời đúng</b> và được <b class="text-transform color-EB9138">+5XP</b> vào tài khoản<br/>Cố gắng học tốt con nhé</p>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal">Nhận điểm</button>
          </div>
        </div>

        <div class="modal-content m-b-20">
          <div class="modal-body text-center modal-edit">
            <img src="assets/global/images/Sad.png" alt="">
            <h3>TIẾC QUÁ!</h3>
            <p class="text-center">Con đã <b class="text-transform color-EB9138">ttrả lời SAI mất rồi</b><br/>Chịu khó học thêm nhé! và được </p>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal">Đóng lại</button>
          </div>
        </div>

        <div class="modal-content">
          <div class="modal-body text-center modal-edit">
            <img src="assets/global/images/Pending.png" alt="">
            <h3>Cảm ơn Con đã hoàn thành bài tập</h3>
            <p class="text-center">Thầy/Cô sẽ xem và chấm điểm cho con sau nhé!<br/> Thưởng con <b class="text-transform color-EB9138">+3XP</b> vào tài khoản nhé</p>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal">ĐÓng lại</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- InstanceEndEditable -->

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020 </span>
        <span>THEMES BACKEND TEKY. </span>
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
      </p>
    </div>
  </div>
</div>