<div id="upload_photo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Đăng ảnh lớp</h4>
      </div>
      <div class="modal-body">
      	<%= form_tag(add_photo_attachment_path, runat: 'server', id: 'photo_upload_form', :multipart => true) do %>
		      <%= file_field_tag 'photo', multiple: true, id: 'photos_attachment', name: "photos[photo][]" %>
          <%= hidden_field_tag 'faculty_id', @session.faculty_id %>
          <%= hidden_field_tag 'session_id', @session.id %>
    		  <div id="photo_review">
    		  </div>
    		<% end %>
      </div>
      <div class="modal-footer">
      	<input type="submit" value="Đăng ảnh" id="upload_photo_confirm" class="btn btn-primary" >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
