<div class='faq_question_detail'>
  <div>
    <h3>Chi tiết câu hỏi</h3>
  </div>
  <div class='faq_question_content'>
    <%= render 'adm/faqs/question_content', { question: @question, answer: @answer} %>
  </div>
</div>
