<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Lớp học của tôi</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <a href="" class="PC-back">
        <%= image_tag('global/images/quaylai.svg') %>
<!--        <img src="assets/global/images/quaylai.svg" alt="">-->
        Quay lại
      </a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class=""><a href="#tab2_1" data-toggle="tab">Thông tin lớp học</a></li>
        <li class="active"><a href="#tab2_2" data-toggle="tab">Quá trình học tập</a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade" id="tab2_1">
          <div class="bo-table">
            <div class="form-content">
              <div class="fc-header">
                <h3><span class="color-F16357">LỚP HỌC:</span> Bé tập làm APP</h3>
              </div>
              <div class="box-progress">
                <div class="row">
                  <div class="col-md-6">
                    <ul>
                      <li><img src="assets/global/images/qr-code.png" alt="">
                        <p><span class="span-text">Mã lớp học: </span>HN-NTT-C-PA-1116-BTLA-0060</p></li>
                      <li><img src="assets/global/images/calendar-4.png" alt="">
                        <p><span class="span-text">Thời gian học: </span>09/11/2019 đến 26/03/2021</p></li>
                      <li><img src="assets/global/images/clock.png" alt="">
                        <p><span class="span-text">Lịch học: </span>18:00, Thứ 7 hàng tuần</p></li>
                      <li><img src="assets/global/images/professor.png" alt="">
                        <p><span class="span-text">Giảng viên: </span><a href="">Lê Quang Tuấn</a></p></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul>
                      <li><img src="assets/global/images/Combined-Shape.png" alt="">
                        <p><span class="span-text">Môn học: </span>Khám phá ROBOT</p></li>
                      <li><img src="assets/global/images/steps.png" alt="">
                        <p>
                          <span class="span-text">Học phần: </span><span class="label-course label label-default">01</span>
                          <span class="label-course label label-default">01</span></p></li>
                      <li><img src="assets/global/images/group-of-students.png" alt="">
                        <p><span class="span-text">Loại lớp học: </span>Group Class</p></li>
                      <li><img src="assets/global/images/hotel.png" alt="">
                        <p><span class="span-text">Trung tâm: </span><a href="">TEKY Cầu Giấy</a></p></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Mã học sinh</th>
                    <th>Họ và tên</th>
                    <th>Học phần</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>[HCM-CT-000625]</td>
                    <td>Kiều Chí Công</td>
                    <td><span class="label-course label label-default">01</span>
                      <span class="label-course label label-default">02</span>
                      <span class="label-course label label-default">03</span></td>
                    <td align="right"><span class="label-edit label label-primary">đang học</span></td>
                  </tr>
                  <tr>
                    <td>[HCM-CT-000625]</td>
                    <td>Kiều Chí Công</td>
                    <td><span class="label-course label label-default">01</span>
                      <span class="label-course label label-default">02</span></td>
                    <td align="right"><span class="label-edit label label-danger"> nghỉ học</span></td>
                  </tr>
                  <tr>
                    <td>[HCM-CT-000625]</td>
                    <td>Kiều Chí Công</td>
                    <td><span class="label-course label label-default">01</span></td>
                    <td align="right"><span class="label-edit label label-stop">bảo lưu</span></td>
                  </tr>
                  <tr>
                    <td>[HCM-CT-000625]</td>
                    <td>Kiều Chí Công</td>
                    <td><span class="label-course label label-default">01</span>
                      <span class="label-course label label-default">02</span></td>
                    <td align="right"><span class="label-edit label label-stop">bảo lưu</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade active in" id="tab2_2">

          <div class="filter-box FlowupLabels" id='formBody'>
            <div class="row">
              <div class="col-md-offset-2 col-md-3">
                <div class='fl_wrap m-t-0'>
                  <label class='fl_label' for='rf_name'>Khóa học:</label>
                  <select class='fl_input' id='rf_name'>
                    <option value=""></option>
                    <option value="">sss</option>
                    <option value="">sss</option>
                    <option value="">sss</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class='fl_wrap m-t-0'>
                  <label class='fl_label' for='rf_name'>Lớp học:</label>
                  <select class='fl_input' id='rf_name'>
                    <option value=""></option>
                    <option value="">sss</option>
                    <option value="">sss</option>
                    <option value="">sss</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class='fl_wrap m-t-0'>
                  <label class='fl_label' for='rf_name'>Học phần:</label>
                  <select class='fl_input' id='rf_name'>
                    <option value=""></option>
                    <option value="">sss</option>
                    <option value="">sss</option>
                    <option value="">sss</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive bo-table m-b-20">
            <div class="fc-header">
              <h3>Buổi học <span class="color-F16357">Sắp diễn ra</span></h3>
            </div>
            <table class="table m-b-0">
              <tbody>
              <tr>
                <td>
                  <p>BÀI 6: Ứng dụng chuyển đổi nhiệt độ</p>
                </td>
                <td align="right"><p class="text-right">18:00 đến 20:00 | Thứ 7, 20/11/2019</p></td>
                <td width="135">
                  <div id="clockdiv">
                    <div>
                      <span class="hours"></span>
                    </div>
                    <div>
                      <span class="minutes"></span>
                    </div>
                    <div>
                      <span class="seconds"></span>
                    </div>
                  </div>
                </td>
                <td align="right">
                  <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7">Đăng ký xin nghỉ</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive bo-table m-b-20">
            <div class="fc-header">
              <h3>Buổi học <span class="color-16BD56">đã diễn ra</span></h3>
            </div>
            <table class="table  table-link">
              <thead>
              <tr>
                <th width="90">&nbsp;</th>
                <th width="140"></th>
                <th></th>
                <th class="text-center">Điểm danh</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="calenda-box">
                    <div class="cb-tit">
                      <p>december</p>
                    </div>
                    <div class="cb-con">
                      <strong>07</strong>
                      <p>18:00 - 20:00<br/>Thứ 7</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="photo-box">
                    <span><img src="" alt=""></span>
                  </div>
                </td>
                <td>
                  <strong>BÀI 1</strong><br/>
                  HELLO WORLD<br/>
                  Kiến thức buổi học: …

                </td>
                <td align="center"><img src="assets/global/images/remove.png" style="width: 20px" alt=""></td>
                <td align="right">
                  <a href="#"><img src="assets/global/images/add-comment-button.png" style="width: 20px;margin-right: 10px" alt=""></a>
                  <a href="#"><img src="assets/global/images/more-4.png" style="width: 20px" alt=""></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="calenda-box">
                    <div class="cb-tit">
                      <p>december</p>
                    </div>
                    <div class="cb-con">
                      <strong>07</strong>
                      <p>18:00 - 20:00<br/>Thứ 7</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="photo-box">
                    <span><img src="" alt=""></span>
                  </div>
                </td>
                <td>
                  <strong>BÀI 1</strong><br/>
                  HELLO WORLD<br/>
                  Kiến thức buổi học: …

                </td>
                <td align="center"><img src="assets/global/images/check.png" style="width: 20px" alt=""></td>
                <td align="right">
                  <a href="#"><img src="assets/global/images/add-comment-button.png" style="width: 20px;margin-right: 10px" alt=""></a>
                  <a href="#"><img src="assets/global/images/more-4.png" style="width: 20px" alt=""></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive bo-table m-b-20">
            <div class="fc-header">
              <h3>Buổi học <span class="color-FFC400">Chưa diễn ra</span></h3>
            </div>
            <table class="table  table-link">
              <thead>
              <tr>
                <th width="90">&nbsp;</th>
                <th width="140"></th>
                <th></th>
                <th class="text-center">Điểm danh</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="calenda-box">
                    <div class="cb-tit">
                      <p>december</p>
                    </div>
                    <div class="cb-con">
                      <strong>07</strong>
                      <p>18:00 - 20:00<br/>Thứ 7</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="photo-box">
                    <span><img src="" alt=""></span>
                  </div>
                </td>
                <td>
                  <strong>BÀI 1</strong><br/>
                  HELLO WORLD<br/>
                  Kiến thức buổi học: …

                </td>
                <td align="center"><img src="assets/global/images/remove.png" style="width: 20px" alt=""></td>
                <td align="right">

                </td>
              </tr>
              <tr>
                <td>
                  <div class="calenda-box">
                    <div class="cb-tit">
                      <p>december</p>
                    </div>
                    <div class="cb-con">
                      <strong>07</strong>
                      <p>18:00 - 20:00<br/>Thứ 7</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="photo-box">
                    <span><img src="" alt=""></span>
                  </div>
                </td>
                <td>
                  <strong>BÀI 1</strong><br/>
                  HELLO WORLD<br/>
                  Kiến thức buổi học: …

                </td>
                <td align="center"><img src="assets/global/images/check.png" style="width: 20px" alt=""></td>
                <td align="right">

                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive bo-table">
            <div class="fc-header">
              <h3>Buổi học <span class="color-F16357">đã hủy</span></h3>
            </div>
            <table class="table  table-link">
              <thead>
              <tr>
                <th width="90">&nbsp;</th>
                <th width="140"></th>
                <th></th>
                <th class="text-center">Điểm danh</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="calenda-box">
                    <div class="cb-tit">
                      <p>december</p>
                    </div>
                    <div class="cb-con">
                      <strong>07</strong>
                      <p>18:00 - 20:00<br/>Thứ 7</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="photo-box">
                    <span><img src="" alt=""></span>
                  </div>
                </td>
                <td>
                  <strong>BÀI 1</strong><br/>
                  HELLO WORLD<br/>
                  Kiến thức buổi học: …

                </td>
                <td align="center"><img src="assets/global/images/remove.png" style="width: 20px" alt=""></td>
                <td align="right">

                </td>
              </tr>
              <tr>
                <td>
                  <div class="calenda-box">
                    <div class="cb-tit">
                      <p>december</p>
                    </div>
                    <div class="cb-con">
                      <strong>07</strong>
                      <p>18:00 - 20:00<br/>Thứ 7</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="photo-box">
                    <span><img src="" alt=""></span>
                  </div>
                </td>
                <td>
                  <strong>BÀI 1</strong><br/>
                  HELLO WORLD<br/>
                  Kiến thức buổi học: …

                </td>
                <td align="center"><img src="assets/global/images/check.png" style="width: 20px" alt=""></td>
                <td align="right">

                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>