<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Lớp học của tôi</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <a href="<%= user_my_class_path %>" class="PC-back">
        <%= image_tag('global/images/quaylai.svg') %>
        Quay lại
      </a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#tab2_1" data-toggle="tab">Thông tin lớp học</a></li>
        <li class=""><a href="#tab2_2" data-toggle="tab">Quá trình học tập</a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <%= render 'user/shared/batch_info', {:batch => @batch} %>
        <%= render 'user/shared/batch_student_progress' %>
      </div>
    </div>
  </div>
</div>