<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Lớp học của tôi</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <% if @batches.nil? %>
        <h4>Bạn chưa có khóa học nào</h4>
      <% else %>
        <% batch_count = @batches.length() %>
        <% row_count = batch_count.even? ? batch_count/2 : batch_count/2 + 1 %>
        <% op_student_id = current_user.op_student.id %>
        <% index = 0 %>
        <% (1..row_count).each do |i| %>
          <div class="row">
            <% index = 2*(i-1) %>
            <% if index <= batch_count %>
              <% batch = @batches[index] %>
              <%= render :partial => "user/users/overview_batch", :locals => {batch: batch, op_student_id: op_student_id} %>
            <% end %>
            <% index = 2*i-1 %>
            <% if index < batch_count %>
              <% batch = @batches[index] %>
              <%= render :partial => "user/users/overview_batch", :locals => {batch: batch, op_student_id: op_student_id} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
