<div class="box-news-detail">
  <div class="bnd-title">
    <h2>HOẠT ĐỘNG LỚP <span>HN-HN-C-PA-1116-SNPY-0030 </span></h2>
  </div>
  <div class="bnd-img">
    <a href="#myModal" class="bndi-detail"  data-toggle="modal">
      <span><img src="assets/global/images/banner1.png" alt=""></span>
    </a>
    <a href="#myModal" class="bndi-detail"  data-toggle="modal">
      <span><img src="assets/global/images/banner1.png" alt=""></span>
    </a>
    <a href="#myModal" class="bndi-detail"  data-toggle="modal">
      <span><img src="assets/global/images/banner1.png" alt=""></span>
    </a>
    <a href="#myModal" class="bndi-detail"  data-toggle="modal">
      <span>
        <img src="assets/global/images/banner1.png" alt="">
        <span class="detail-plus">100 +</span>
      </span>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <ul class="owl-carousel list-lightbox" id="lightbox">
              <li><span><img src="assets/global/images/banner1.png" alt=""></span></li>
              <li><span><img src="assets/global/images/banner1.png" alt=""></span></li>
              <li><span><img src="assets/global/images/banner1.png" alt=""></span></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="bnd-all-other">
    <div class="row">
      <div class="col-xs-4">
        <div class="bnd-other">
          <a> 
            <img src="assets/global/images/like-3.png" alt="">
            Like
            <span>0</span>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="bnd-other">
          <a> 
            <img src="assets/global/images/love-and-romance.png" alt="">
            Thả tim
            <span>0</span>
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="bnd-other">
          <a> 
            <img src="assets/global/images/iconsad.png" alt="">
            Buồn
            <span>0</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bnd-comment">
    <div class="bc-edit">
      <span><img src="" alt=""></span>
      <input type="text">
      <a href="#"><img src="assets/global/images/send.png" alt=""></a>
    </div>
    <div class="bc-ansew">
      <div class="bca-parent">
        <div class="bpe-detail bpe-parent">
          <span class=""><img src="" alt=""></span>
          <p><b>Kiều Chí Công :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur, recusandae reiciendis commodi placeat fuga quisquam ipsam nam at, repudiandae aperiam illo! Dolore cumque vel repellat libero quidem? Expedita, aliquid.</p>
        </div>
      </div>
      <div class="bca-child">
        <div class="bpe-detail bce-child">
          <span class=""><img src="" alt=""></span>
          <p><b>Kiều Chí Công :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur, recusandae reiciendis commodi placeat fuga quisquam ipsam nam at, repudiandae aperiam illo! Dolore cumque vel repellat libero quidem? Expedita, aliquid.</p>
        </div>
      </div>
    </div>
  </div>
</div>
