<div class="bca-parent">
  <div class="bpe-detail bpe-parent">
    <span class="">
      <%= SocialCommunity::Feed::CommentDecorator.new(comment).display_comment_avatar.html_safe %>
    </span>
    <div class="box-user-content">
    	<b class="cmt-user color-0654BA"><%=comment[:user_fullname] %></b>&nbsp;
    	<%= comment[:content] %>
    </div>    
  </div>
</div>
