<div class="bca-parent">
  <div class="bpe-detail bpe-parent">
    <span class="">
      <%= SocialCommunity::Feed::CommentDecorator.new(comment).display_comment_avatar.html_safe %>
    </span>
    <p><b class='cmt-user'><%=comment[:user_fullname] %>:</b> <%= comment[:content] %></p>
  </div>
</div>
