<div class="bnd-comment">
  <div class="bc-edit">
    <span>
      <img src="" alt="">
    </span>
    <input type="text">
    <a href="#"><img src="/global/images/send.png" alt=""></a>
  </div>
  <!--
  <div class="bc-ansew">
    <div class="bca-parent">
      <div class="bpe-detail bpe-parent">
        <span class=""><img src="" alt=""></span>
        <p><b>Kiều Chí Công :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur, recusandae reiciendis commodi placeat fuga quisquam ipsam nam at, repudiandae aperiam illo! Dolore cumque vel repellat libero quidem? Expedita, aliquid.</p>
      </div>
    </div>
    <div class="bca-child">
      <div class="bpe-detail bce-child">
        <span class=""><img src="" alt=""></span>
        <p><b>Kiều Chí Công :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur, recusandae reiciendis commodi placeat fuga quisquam ipsam nam at, repudiandae aperiam illo! Dolore cumque vel repellat libero quidem? Expedita, aliquid.</p>
      </div>
    </div>
    </div>
  -->
</div>
