<div class="panel-content">
  <div class="bnd-title">
    <label class="filter-title">THÔNG BÁO TỪ HỌC VIỆN</label>
    <p>Có <span class="color-FF0D38">02</span> tin nhắn mới</p>
  </div>
  <div class="bnd-noti">
    <a href="#" class="bnn-detail">
      <div class="bnn-img">
        <span><img src="" alt=""></span>
      </div>
      <div class="bnn-text">
        <label for="">Thông báo từ Học viên TEKY</label>
        <p>Lịch nghỉ tết 2019</p>
      </div>
      <div class="bnn-time">
        <p>10 giây trước</p>
      </div>
    </a>
    <a href="#" class="bnn-detail">
      <div class="bnn-img">
        <span><img src="" alt=""></span>
      </div>
      <div class="bnn-text">
        <label for="">Thông báo từ Học viên TEKY</label>
        <p>Lịch nghỉ tết 2019</p>
      </div>
      <div class="bnn-time">
        <p>10 giây trước</p>
      </div>
    </a>
    <a href="#" class="bnn-detail">
      <div class="bnn-img">
        <span><img src="" alt=""></span>
      </div>
      <div class="bnn-text">
        <label for="">Thông báo từ Học viên TEKY</label>
        <p>Lịch nghỉ tết 2019</p>
      </div>
      <div class="bnn-time">
        <p>10 giây trước</p>
      </div>
    </a>
    <a href="" class="pull-right link-all">Xem tất cả</a>
  </div>
</div>
