<% content_for :stylesheet_includes do %>
<%= stylesheet_link_tag 'user/open_educat/op_students/batches' %>
<% end %>

<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform">Lớp học của tôi</h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <% if @batches.empty? %>