<% set_meta_tags og: {
  url: request.base_url + "/contest/contest_award/#{@c_project_detail['id']}",
  description: "#{@c_project_detail['student_name']} - #{@c_project_detail['company_name']}",
  image: request.base_url + "/contest/upload/award-blank.png",
}                     
%>
<div class="c-block bg-border">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải <%= @prize == 'm' ? 'Tháng' : 'Tuần' %></div>
        <div class="c-box__title__shadow">Winners</div>
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus is-button-circle c-award-slider">
          <div class='c-award-item'>
            <%= render :partial => "contest/awards/award", :locals => {project: @c_project_detail, contest: @contest} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.download-certificate', function(){
    id =  $(this).data('project')
    html2canvas($(`#contest-certificate-${ id }`)[0], {scrollY: -window.scrollY, scrollX: -window.scrollX}).then(canvas => {
      var link = document.createElement("a");
      document.body.appendChild(link);
      link.download = "certificate";
      link.href = canvas.toDataURL();
      link.id = `link-download-certificate-${ id }`;
      link.target = '_blank';
      link.click();
    });
  })
</script>
