<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="<%= user_logout_path %>">
      <i class="fas fa-sign-out-alt"> <%= t('login.logout') %></i>
    </a>
  </li>
</ul>
