$(document).ready(function(){
  $('#loading_div').hide();
  $('#has_student_project').show();
  $('#filter_subject_projects').html('<option value="all">Tất cả</option><% subjects.each do |s| %> <option value="<%= s[0] %>"><%= s[1] %></option> <% end %> ')

  <% if social_student_projects.present? %>
      $('#paginator').show();
      $('#no_student_project').hide();
      $('#has_student_project').show();
      $('#has_student_project').html('<%= escape_javascript( render partial: "social_community/sc_student_projects/partials/social_student_projects", locals: { social_student_projects: social_student_projects }) %>')

    $(".paginator").html("<%= j paginate(social_student_projects, remote: true) %>");
  <% else %>
    $('#no_student_project').show();
    $('#has_student_project').hide();
  <% end %>

    $('.paginator').on('click', 'a', function(){
      $('.paginator li').removeClass('active');
      $(this).parent().addClass('active');
      $(this).css('color', 'red');
      $('#loading_div').show();
      $('#social_student_projects_content').hide();
      $('.paginator-bottom').hide();
    })
})
