<div class="tab-pane in" id="profile">
  <div class="box-nangluc">
    <ul class="">
      <li class="">
        <div class="bn-detail">
          <h3>35 điểm</h3>
          <p>Tổng điểm năng lực của bạn là</p>
        </div>
      </li>
      <li class="">
        <div class="bn-detail">
          <h3>Không đạt</h3>
          <p>Điểm xếp loại</p>
        </div>
      </li>
    </ul>

    <table class="table table-list">
      <thead>
        <tr>
          <th class="color-000">Bổ trợ, cập nhật thông tin giảng dạy</th>
          <th><span class="color-F16357">08</span>/25</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-list">
      <thead>
        <tr>
          <th class="color-000">Bổ trợ, cập nhật thông tin giảng dạy</th>
          <th><span class="color-F16357">08</span>/25</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-list">
      <thead>
        <tr>
          <th class="color-000">Bổ trợ, cập nhật thông tin giảng dạy</th>
          <th><span class="color-F16357">08</span>/25</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
        <tr>
          <td>Điểm danh học viên mỗi buổi học và hoàn thành công tác điểm danh trong vòng 12 giờ sau khi buổi học kết thúc.</td>
          <td><span class="label label-default">3/5</span></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-list">
      <thead>
        <tr>
          <th class="color-000" style="width: 50%">Chỉ số học sinh đánh giá lớp học</th>
          <th style="width: 50%">
            <form id='formBody' class='FlowupLabels'>
              <div class='fl_wrap' style="width: 30%;float: right;">
                <label class='fl_label' for='rf_name'>Thời gian:</label>
                <select class='fl_input bg-f2f2f2' id='rf_name' >
                  <option value=""></option>
                  <option value="">Ca Sáng</option>
                  <option value="">Ca chiều</option>
                  <option value="">Ca tối</option>
                </select>
              </div>
            </form>
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>
