<div id="modal_learning_device" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Học cụ</h4>
      </div>
      <div class="modal-body learning_device_content">
        <div><%= lesson.present? ? lesson.learning_devices : 'Không có học cụ' %></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
