  <div class="modal-dialog batch_student_evaluate" style='width: 60%'>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Đánh giá học sinh</h2>
      </div>
      <div class="modal-body teacher_evaluate_content">
        <div class="form-group" style="margin: 0 20px 20px">
          <label for='select_evaluate_type' class='label-select'>Kiểu đánh giá</label>
          <select class="form-control" id='select_evaluate_type'>
            <option selected value="<%= User::Constant::SessionEvaluation::StateEvaluate::SESSION %>">Đánh giá cuối buổi</option>
            <option value="<%= User::Constant::SessionEvaluation::StateEvaluate::SUBJECT %>">Đánh giá cuối khoá</option>
          </select>
        </div>
        <form action="" id='teacher_evaluate_session'>
          <%= render 'user/open_educat/op_teachers/partials/teacher_class_details/evaluation/evaluate_session', { attendance: attendance } %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="teacher_evaluate_confirm" data-dismiss="modal">Gửi đánh giá</button>
      </div>
    </div>

  </div>

<style>
  .label-select {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  #select_evaluate_type {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .label-note {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
</style>
