<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'social_community/dashboards/student/dashboard.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/pagination.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>
<% end %>
<div class="page-content page-thin">  
  <div class="row">
    <div class="col-md-7">
      <div id='homeFeeds'>
      </div>
      <div id='infinitive-scrolling' style='display:none' date-time-offset='0'>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel" id='coming_soon_session'>
      </div>
      <div class="panel" id='dashboard_noti'>
      </div>
      <div class='panel' id ='attendance_report'>
      </div>
      <div class="panel" id='dashboard_leader'>
      </div>
    </div>
  </div>
</div>

<style>
.owl-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid gray !important;
  border-radius: 50%;
  top: 40% !important;
  left: -20px;
  margin-left: -20px;
  display: block !important;
  background-color: white !important;
}

.owl-next {
  position: absolute;
  right: -40px !important;
  width: 50px;
  height: 50px;
  border: 2px solid gray !important;
  border-radius: 50%;
  top: 40% !important;
  margin-left: -20px;
  display: block !important;
  background-color: white !important;
}

.owl-prev span, .owl-next span {
  line-height: 50px !important
}
</style>
