<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'social_community/dashboards/student/dashboard.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/pagination.js' %>
<% end %>
<div class="page-content page-thin">  
  <div class="row">
    <div class="col-md-7">
      <div class="panel">
        <!-- <div class="panel-content" id='albums_with_comments'>
        </div> -->
        <div class='panel-content' id='homeFeeds'>
        </div>
        <div id='infinitive-scrolling' style='display:none'>

        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel" id='coming_soon_session'>
      </div>
      <div class="panel" id='dashboard_noti'>
      </div>
      <div class='panel' id ='attendance_report'>
      </div>
      <div class="panel" id='dashboard_leader'>
      </div>
    </div>
  </div>
</div>
