<div class="bpc-huyhieu">
  <div class="row">
    <div class="col-sm-4">
      <div class="bph-img">
        <%= image_tag('global/images/huyhieu.png') %>
        <label>MOD CREATIONS ESSENTIALS</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bph-img">
        <%= image_tag('global/images/huyhieu.png') %>
        <label>MOD CREATIONS ESSENTIALS</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bph-img">
        <%= image_tag('global/images/huyhieu.png') %>
        <label>MOD CREATIONS ESSENTIALS</label>
      </div>
    </div>

  </div>
</div>
