<div class="box-add">
  <ul>
    <li>
      <span>
        <%= image_tag('global/images/profile1.png') %>
      </span>
      <p><b class="color-F16357">120.320</b> Điểm</p>
    </li>
    <li>
      <span>
        <%= image_tag('global/images/profile2.png') %>
      </span>
      <p>Học tại:  <b>TEKY Cầu Giấy</b></p>
    </li>
    <li>
      <span>
        <%= image_tag('global/images/profile4.png') %>
      </span>
      <p>Giới tính: <b>Nam</b></p>
    </li>
    <li>
      <span>
        <%= image_tag('global/images/profile5.png') %>
      </span>
      <p>Địa chỉ: <b>Hà Nội, Việt Nam</b></p>
    </li>
  </ul>
</div>
