<div class="table-responsive bo-table m-b-20">
  <div class="fc-header">
    <h3>Buổi học <span class="color-16BD56">đã diễn ra</span></h3>
  </div>
  <% if !done_sessions.nil? and !done_sessions.empty? %>
    <table class="table  table-link">
      <thead>
      <tr>
        <th width="90">&nbsp;</th>
        <th width="140"></th>
        <th></th>
        <th class="text-center">Điểm danh</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% done_sessions.each do |done_session| %>

          <tr class=" student_subject_level <%= 'subject_level_' + done_session.op_subject.id.to_s %>">
            <%= render 'user/shared/session/row/done_session_student', {:session => done_session} %>
          </tr>

      <% end %>
      </tbody>
    </table>
  <% else %>
    <div>Chưa có buổi học nào</div>
  <% end %>
</div>
