<div class="table-responsive bo-table m-b-20">
  <div class="fc-header">
    <h3>Buổi học <span class="color-FFC400">Chưa diễn ra</span></h3>
  </div>
  <% if !todo_sessions.nil? and !todo_sessions.empty? %>
    <table class="table  table-link">
      <thead>
      <tr>
        <th width="90">&nbsp;</th>
        <th width="140"></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% todo_sessions.each do |todo_session| %>
        <% unless todo_session.op_lession.nil? %>
          <tr class="student_subject_level <%= 'subject_level_' + todo_session.op_subject.id.to_s %>">
            <%= render 'user/shared/session/row/todo_session_student', {:session => todo_session} %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div>Không có buổi học tiếp theo nào</div>
  <% end %>
</div>