<div class="c-award-item">
  <div class="c-award-item__thumb"><img src="/contest/upload/award_1.png" alt="image"></div>
  <div class="c-award-item__bar">
    <ul>
      <li><a href="#"><i class="icon24-share"></i><span>Chia sể lên Facebook</span></a></li>
      <li><a href="#"><i class="icon24-pdf"></i><span>Tải xuống</span></a></li>
      <li><a href="#"><i class="icon24-view"></i><span>Xem sản phẩm</span></a></li>
    </ul>
  </div>
</div>
