<a class="student_evaluate" data-value="" data-code="<%= code %>" data-toggle="modal" data-target="#modal_evaluate">
  <img src="/global/images/add-comment-button.png" style="width: 20px; min-width: 20px;margin-right: 10px; cursor: pointer;">
</a>
