<table style="width: 100%">
  <thead>
    <tr>
      <th><h4><strong>Họ và tên</strong></h4></th>
      <th><h4><strong>Điểm danh</strong></h4></th>
      <th><h4><strong>Giảng viên ghi chú</strong></h4></th>
    </tr>
  </thead>
  <tbody>
    <% all_student.each do |student| %>
        <tr class="attendance_student">
          <td><%= student[1][:name] %></td>
          <td>
            <% if student[1][:status] == 'on' %>
              <input type='checkbox' checked name='attendance' value='<%= student[1][:code] %>'>
            <% else %>
              <input type='checkbox' name='attendance' value='<%= student[1][:code] %>'>
            <% end %>
          </td>
          <td>
            <input style='width: 100%' type='text' name='teacher_note' placeholder='Ghi chú của giảng viên'> 
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
