<!--- variables: 
  data
-->
<!-- filter area -->
<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <% sessions = data.sessions %>
      <th>Student</th>
      <% sessions.each do |session| %>
        <th><%= "Lesson #{session.lesson_number}" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% data = data.data %>
    <% data.each do |data_row| %>
      <tr>
        <td><%= data_row.student_name %></td>
        <% count_homework_state = data_row.count_homework_state %>
        <% count_homework_state.each do |report_item| %>
          <td><%= "#{report_item[0]}/#{report_item[1]}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
