<div class="float-right">
    <button form='idForm' type="button" data-contest="<%= @contest&.id %>" id="update-contest-button" class="btn btn-default btn-sm bg-olive"><i class="fas fa-save"></i> <%= t('button.Save')%></button>
    <a href="/adm/contest/contests" class="btn btn-default btn-sm"><i class="fas fa-ban"></i> <%= t('button.cancel')%></a>          
</div>