<h1>Editing Redeem Redeem Product</h1>

<%= render 'form', adm_redeem_redeem_product: @adm_redeem_redeem_product %>

<%= link_to 'Show', @adm_redeem_redeem_product %> |
<%= link_to 'Back', adm_redeem_redeem_products_path %>