<div class="panel m-t--70">
  <% if current_user.is_student? %>
    <div class="panel-content">
      <div class="box-product">
        <div class="fc-header">
          <h3><%= t('social_community.my_project_html') %></h3>
        </div>
        <div class='row' style="padding-top: 17px;">
          <% unless (check_projects student_projects) %>
            <p class='no-projects'><%= t('social_community.no_project_yet') %></p>
          <% else %>
            <% student_projects.each do |project| %>
                <div class='col-md-3'>
                  <%= render 'user/open_educat/shared/student_projects/student_project_item', { project: project } %>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
