/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*
* require_self
*= require 'customized/customized_custom'
*= require 'customized/customized_style'
*= require 'customized/customized_style_other'
*/
@import 'user/users';

body{
}
span.subject_id.active{
	background-color: #5DC2A7;
}

span.subject_id {
	cursor: pointer;
}

.active_question{
	background-color: #FCF055 !important;
	color: white;
}

.undone_question{
	background-color: #CFCFCF;
	color: white;
}

.done_question{
	background-color: #5DC2A7;
	color: white;
}

#watch_video_box{
	margin-top: 40px;
}

#student_videos_list td:hover{
	background: #CFCFCF;
}

#student_videos_list td {
    padding: 5px 0;
}

button:disabled {
	color: #616c76 !important;
}

.close_class {
  background-color: #7E858E !important
}

.online_class:before {
  background: #5DC2A7 !important
}

.offline_class:before {
  background: #EB9138 !important
}

#course_description li {
	font-size: 15px;
}

.owl-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid gray !important;
    border-radius: 50%;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    background-color: white !important;
}

.owl-next {
    position: absolute;
    right: -25px;
    width: 50px;
    height: 50px;
    border: 2px solid gray !important;
    border-radius: 50%;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    background-color: white !important;
}
.owl-prev i, .owl-next i {color: #007791; padding: 0 !important; font-size: 20px}

ul.header-menu.nav.navbar-nav li {
  max-height: 48px !important;
}

ul.header-menu.nav.navbar-nav li a {
  max-height: 48px !important;
}

ul.header-menu.nav.navbar-nav li span {
  line-height: 48px !important;
  margin-right: 15px;
}

#language-header {
  border-right: none !important;
}

@media screen and (max-width: 980px) {
  .response-logo-sidebar {
    display: none !important;
  }
}

.bmrd-content li:before{
  position: absolute;
  content: '';
  background: url(global/images/Oval-list.svg) no-repeat;
  width: 10px;
  height: 10px;
  left: -45px;
  top: 0;
}

.account-info {
  width: 40% !important;
  img {
    max-height: 200px;
  }
}

.account-form {
  .form-signin {
    .append-icon {
      margin-top: 15px;
    }
  }
  .login-submit {
    background: #5DC2A7;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }

  p {
    font-weight: 500;
  }
}

#password {
  color: #0654BA;
  font-weight: 500;
}

.user_full_name{
    animation-name: animation-promotion;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 100%;
    padding-left: 0;}

@keyframes animation-promotion{from{transform:translate(103%)}99%,to{transform:translate(-105%)}}

.tooltip-inner {
    max-width: 350px;
    width: 100%;
}

.comming {
  position: absolute;
  top: 50px;
  left: -100px;
  display: inline-block;
  font-size: 14px;
  background: #f16357;
  color: #fff;
  font-family: 'Montserrat-Bold';
  transform: rotate(-90deg);
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 150px;
  text-align: center;
}

.active_subject {
  background: #5DC2A7 !important;
}

.clockdiv{
font-family: sans-serif;
    color: #000;
    display: inline-block;
    font-family: 'Montserrat-Bold';
    text-align: center;
    font-size: 14px;
}

.clockdiv > div{
    border-radius: 3px;
    display: inline-block;
}

.clockdiv div > span{
	padding: 8px;
    border-radius: 3px;
	background-image: -webkit-linear-gradient(top left, #5DC2A7, #FCF055);
	background-image: -o-linear-gradient(top left, #5DC2A7, #FCF055);
	background-image: linear-gradient(to bottom right, #5DC2A7, #FCF055);
    display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
