/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*
* require_self
*= require video-js
*= require 'customized/customized_custom'
*= require 'customized/customized_style'
*= require 'customized/customized_style_other'
*/
@import 'user/users';

span.subject_id.active{
	background-color: #5DC2A7;
}

span.subject_id {
	cursor: pointer;
}

.active_question{
	background-color: #FCF055 !important;
	color: white;
}

.undone_question{
	background-color: #CFCFCF;
	color: white;
}

.done_question{
	background-color: #5DC2A7;
	color: white;
}

#watch_video_box{
	margin-top: 40px;
}

#student_videos_list td:hover{
	background: #CFCFCF;
}

#student_videos_list td {
    padding: 5px 0;
}

button:disabled {
	color: #616c76 !important;
}

.close_class {
  background-color: #7E858E !important
}

.online_class:before {
  background: #5DC2A7 !important
}

.offline_class:before {
  background: #EB9138 !important
}

#course_description li {
	font-size: 15px;
}
