/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*
* require_self
*= require video-js
*= require 'customized/customized_custom'
*= require 'customized/customized_style'
*= require 'customized/customized_style_other'
*/
@import 'user/users';

body{
  font-family: 'Montserrat', sans-serif !important;
}
span.subject_id.active{
	background-color: #5DC2A7;
}

span.subject_id {
	cursor: pointer;
}

.active_question{
	background-color: #FCF055 !important;
	color: white;
}

.undone_question{
	background-color: #CFCFCF;
	color: white;
}

.done_question{
	background-color: #5DC2A7;
	color: white;
}

#watch_video_box{
	margin-top: 40px;
}

#student_videos_list td:hover{
	background: #CFCFCF;
}

#student_videos_list td {
    padding: 5px 0;
}

button:disabled {
	color: #616c76 !important;
}

.close_class {
  background-color: #7E858E !important
}

.online_class:before {
  background: #5DC2A7 !important
}

.offline_class:before {
  background: #EB9138 !important
}

#course_description li {
	font-size: 15px;
}

.owl-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid gray !important;
    border-radius: 50%;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    background-color: white !important;
}

.owl-next {
    position: absolute;
    right: -25px;
    width: 50px;
    height: 50px;
    border: 2px solid gray !important;
    border-radius: 50%;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    background-color: white !important;
}
.owl-prev i, .owl-next i {color: #007791; padding: 0 !important; font-size: 20px}

ul.header-menu.nav.navbar-nav li {
  max-height: 48px !important;
}

ul.header-menu.nav.navbar-nav li a {
  max-height: 48px !important;
}

ul.header-menu.nav.navbar-nav li span {
  line-height: 48px !important;
  margin-right: 15px;
}

#language-header {
  border-right: none !important;
}

@media screen and (max-width: 980px) {
  .response-logo-sidebar {
    display: none !important;
  }
}

.bmrd-content li:before{
  position: absolute;
  content: '';
  background: url(global/images/Oval-list.svg) no-repeat;
  width: 10px;
  height: 10px;
  left: -45px;
  top: 0;
}

.account-info {
  width: 40% !important;
  img {
    max-height: 200px;
  }
}

.account-form {
  .form-signin {
    .append-icon {
      margin-top: 15px;
    }
  }
  .login-submit {
    background: #5DC2A7;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
  }

  p {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
  }
}

#password {
  color: #0654BA;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

.user_full_name{
  position: relative;
  animation: mymove 7s infinite;
}

@keyframes mymove {
  from {right: 0px;}
  to {right: 100px;}
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}
