<div class="modal-dialog">
  <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% photos.each do |photo| %>
      <% end %>
  </div>
</div>
