<%= stylesheet_link_tag "fotorama.css" %>
<%= javascript_include_tag "fotorama.js" %>

<div class="modal-dialog" role="document" style='max-width: 100%; width: 100%; height: 100%; margin: 0;'>
  <div class="modal-content" style="width: 100%">
    <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
    <% if photos.present? %>
      <div class="fotorama"  data-allowfullscreen="true" data-nav="thumbs" data-fit="scaledown" data-thumbwidth="100" data-arrows="true" data-click="true" data-swipe="true" data-hash="true" data-width='100%' data-height='100%'>
        <% photos.each do |photo| %>
          <%= image_tag photo.image %>
        <% end %>
      </div>
    <% else %>
      <div> Không có ảnh </div>
    <% end %>
  </div>
</div>

<style>
.close-modal {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  right: 20px;
  z-index: 10;
  color: white;
}
  .close-modal:hover {
    color: white;
  }
  .fotorama__fullscreen-icon {
    display: none;
  }
  .fotorama__nav-wrap {
    background-color: black;
  }
  .fotorama__wrap--slide .fotorama__stage__frame {
    background-color: black;
  }
</style>
<script>
  $(document).ready(function(){
    $('.fotorama').fotorama();
  })
</script>
<script>
  $('#session_photo_show').owlCarousel({
    items:1,
    loop:true,
    margin:10,
    nav:true,
    autoplayHoverPause:true,
    autoplay:true,
    autoplayTimeout:10000,
  });
</script>

<style>
.list-lightbox .owl-nav button span {
  font-size: 50px;
  position: absolute;
  position: absolute;
  top: -10px;
  right: 15px;
}

.owl-next {
  right: -40px !important;
}

.owl-prev {
  left: -20px !important;
}
</style>
