<div class="bpc-achievements">
  <div class="row">
    <% achievements.each do |achievement| %>
      <div class="col-sm-6">
        <div class="bpa-img">
          <%= image_tag('global/images/screenshot.png') %>
          <a href="#">
            <%= image_tag('global/images/heart-border.png') %>
            <span>07</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
