<div class="bpc-achievements">
  <% if achievements.blank? %>
    <p class="pb-detail-no-items"><%= t('public_profile.no_achievements') %></p>
  <% else %>
    <div class="row">
      <% achievements.each do |achievement| %>
      <% end %>
    </div>
  <% end %>
</div>
