<div class="bp-header" id='publicProfileHeaderInfo'>
  <ul class="row bh-step">
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/star.png') %>
        </span>
        <p>
        <b>0</b> ĐIỂM<br/>
        <b>0</b> TEKY ĐỒNG
        </p>
      </div>
    </li>
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/icon-BTVN.png') %>
        </span>
        <p>
        <b>-1</b> BÀI TẬP VỀ NHÀ<br/>
        <b>0</b> DỰ ÁN ĐÃ PHÁT TRIỂN
        </p>
      </div>
    </li>
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/laurel-wreath.png') %>
        </span>
        <p>
        <b>0</b> CHỨNG NHẬN<br/>
        <b>0</b> CHỨNG CHỈ
        </p>
      </div>
    </li>
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/prize.png') %>
        </span>
        <p>
        <b>0</b> QUÀ TẶNG<br/>
        <br/>
        </p>
      </div>
    </li>
  </ul>
</div>
