<div class="bpc-product">
  <div class="row">
    <div class="col-sm-6">
      <a class="bpp-detail" href="#">
        <span>
          <%= image_tag('global/images/screenshot.png') %>
        </span>
        <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN LẬP TRÌNH SCRATCH học phần 2</label>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="bpp-detail" href="#">
        <span>
          <%= image_tag('global/images/screenshot.png') %>
        </span>
        <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN LẬP TRÌNH SCRATCH học phần 2</label>
      </a>
    </div>
  </div>
</div>
