<div class="bpc-product">
  <% if products.empty? %>
    <p class="bp-detail-no-items"><%= t('public_profile.no_products') %></p>
  <% else %>
    <div class="row">
      <% products.each do |product| %>
        <div class="col-sm-6">
          <div class="bpp-detail">
            <a href=''>
              <span>
                <%= image_tag(SocialCommunity::StudentProject::StudentProjectDecorator.new(product).thumbnail_image_link, :alt => product.name ) %>
              </span>
            </a>
            <label><%= product.name %></label>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
