<div class="bpc-product">
  <div class="row">
    <% products.each do |product| %>
      <div class="col-sm-6">
        <div class="bpp-detail">
          <a href=''>
            <span>
              <%= image_tag(SocialCommunity::StudentProject::StudentProjectDecorator.new(product).thumbnail_image_link, :alt => product.name ) %>
            </span>
          </a>
          <label><%= product.name %></label>
        </div>
      </div>
    <% end %>
  </div>
</div>
