<div class="row">
	<div class="col-md-6 col-lg-6">
		<h3>Khóa học <span class="color-F16357"><%= course.name %></span></h3>
  	<p>Lớp <%= batch.name %></p>
		<p>Học phần <%= subject.level %> - <%= subject.name %></p>
		<p id='homework_video_session_name'></p>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="row">
			<div class="col-md-4" style='float: right'>
				<button type="button" class="btn btn-primary btn-embossed bg-5DC2A7 text-transform"><b>làm bài tập</b></button>
			</div>
			<!-- <div class="col-md-8">
				<button type="button" class="btn btn-primary btn-embossed bg-5DC2A7 text-transform"><b>Nội dung & kiến thức học được</b></button>
			</div> -->
		</div>
	</div>
</div>