<div class="tab-pane fade" id='homework_tab2'>
  <div class="table-responsive bo-table m-b-20">
	  <div class="fc-header">
      <input type="hidden" name='homework_session' value="<%= @session.id %>">
      <div id='homework_video_detail'>
      </div>
	  </div>
	  <div>
	  	<div class="row">
	  		<div class="col-md-9 col-lg-9 watch_video">
          <div id="watch_video_box">
          </div>
          <div style="text-align: center">
            <p style='text-align: center; font-size: 20px; margin-top: 20px'><a id="previous_video"><i class="fa fa-fast-backward"></i></a> | <a id="next_video'"><i class="fa fa-fast-forward"></i></a></p>
          </div>
        </div>
	  		<div class="col-md-3 col-lg-3 chat-box">
	  			qerqwerqwerqwer
	  		</div>
	  	</div>
	  </div>
	</div>
</div>