<div class="l-footer">
  <div class="container">
    <div class="c-footer-main">
      <div class="c-footer-top">
        <div class="c-footer-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
        <div class="c-footer-social"><a href="#"><i class="icon24-facebook"></i></a><a href="#"><i class="icon24-youtube"></i></a></div>
      </div>
      <div class="c-footer-center">
        <div class="row">
          <div class="col-md-4">
            <div class="c-footer-label">Học viện Teky</div>
            <div class="c-footer-content">
              <div class="b-maincontent">
                <p>Toà nhà Mac Plaza, Số 10 Trần Phú</p>
                <p>Mộ Lao, Hà Đông, Hà Nội</p><br>
                <p>Miền Bắc: 024 7109 6668</p>
                <p>Miền Nam: 028 710 99948</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Thông tin chung</div>
            <div class="c-footer-content">
              <div class="c-footer-list">
                <ul>
                  <li><a href="https://teky.edu.vn">Teky.edu.vn</a></li>
                  <li><a href="/contest/<%= contest.alias_name %>/home">Trang chủ</a></li>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="/contest/<%= contest.alias_name %>/home#contest_rule">Thể lệ</a></li>
                  <li><a href="/contest/<%= contest.alias_name %>/contest_projects">Sản phẩm dự thi</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Đăng ký nhận tin</div>
            <div class="c-footer-content">
              <div class="c-footer-text">Subsbribe us to get news and updates directy to your inbox.</div>
              <div class="c-footer-email">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Email của bạn">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"><i class="icon-long-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-copyright">© 2020 All Rights Reserved By TEKY Academy.</div>
  </div>
  <!--end container-->
</div>
