<div class="c-block bg-gradient c-rules-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Thể lệ</span>Giải thưởng cuộc thi</div>
        <div class="c-box__title__shadow">Contest Rules</div>
      </div>
      <div class="c-box__desc">
        Sản phẩm
        <b class="h-text__underline">dự thi hợp lệ</b>
        là sản phẩm có đầy đủ những thông tin bao gồm
      </div>
      <div class="c-box__content">
        <div class="c-rules">
          <ul class="clearfix">
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-1.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title">Thông tin tham dự</div>
                </div>
                <div class="c-rules-item__row">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                <div class="c-rules-item__row"><i class="icon48-info"></i></div>
              </div>
            </li>
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-2.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title">Mô tả sản phẩm</div>
                </div>
                <div class="c-rules-item__row">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                <div class="c-rules-item__row"><i class="icon48-desc"></i></div>
              </div>
            </li>
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-3.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title">Nộp bài dự thi</div>
                </div>
                <div class="c-rules-item__row">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                <div class="c-rules-item__row"><i class="icon48-sent"></i></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
