<div class="c-block c-news-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Tin tức</span>Sự kiện nổi bật</div>
        <div class="c-box__title__shadow">News</div>
      </div>
      <div class="c-box__content">
        <div class="c-news-grid">
          <ul class="clearfix">
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb"><img src="/contest/upload/news_1.jpg" alt="news"></div><a class="c-news-item__caption" href="#"><span class="c-news-item__time"><i class="icon16-calendar-white"></i>11:25 Thứ 6, 23/09/2020</span><span class="c-news-item__cat">Tin cuộc thi</span><span class="c-news-item__title">Customization & Personalization of</span><span class="c-news-item__more">Xem chi tiết</span></a>
              </div>
            </li>
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb"><img src="/contest/upload/news_2.jpg" alt="news"></div><a class="c-news-item__caption" href="#"><span class="c-news-item__time"><i class="icon16-calendar-white"></i>11:25 Thứ 6, 23/09/2020</span><span class="c-news-item__cat">Tin cuộc thi</span><span class="c-news-item__title">Customization & Personalization of</span><span class="c-news-item__more">Xem chi tiết</span></a>
              </div>
            </li>
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb"><img src="/contest/upload/news_3.jpg" alt="news"></div><a class="c-news-item__caption" href="#"><span class="c-news-item__time"><i class="icon16-calendar-white"></i>11:25 Thứ 6, 23/09/2020</span><span class="c-news-item__cat">Tin cuộc thi</span><span class="c-news-item__title">Customization & Personalization of</span><span class="c-news-item__more">Xem chi tiết</span></a>
              </div>
            </li>
          </ul>
        </div>
        <div class="c-more"><a class="btn btnl-lg btn-outline-dark" href="#">Xem toàn bộ<i class="icon-long-arrow-right icon-right"></i></a></div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
