<div class="c-slider">
  <div class="owl-carousel js-slider" data-slider-id="slider-main">
    <div class="c-slider-item" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="<%= submit_url %>">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
    <div class="c-slider-item is-reverse" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="<%= submit_url %>">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
    <div class="c-slider-item" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="<%= submit_url %>">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
    <div class="c-slider-item is-reverse" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="<%= submit_url %>">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-template-dots">
    <ul class="owl-thumbs" data-slider-id="slider-main">
      <li class="owl-thumb-item"><span>1</span></li>
      <li class="owl-thumb-item"><span>2</span></li>
      <li class="owl-thumb-item"><span>3</span></li>
      <li class="owl-thumb-item"><span>4</span></li>
    </ul>
  </div>
  <div class="c-slider-share"><a href="#"><i class="icon24-facebook-white"></i></a><a href="#"><i class="icon24-youtube-white"></i></a></div>
  <div class="c-slider-scroll js-scroll"><a href="#about-block-id"><i class="icon-scroll"></i>
      <div class="c-slider-scroll__text">Kéo xuống để khám phá</div></a></div>
</div>
