<div class="c-yellow-board-block">
  <div class="c-yellow-board-block__inner">
    <div class="c-yellow-board-block__more"><a href="/contest/<%= contest.alias_name %>/award">Xem bảng vàng<i class="icon-long-arrow-right-blue"></i></a></div>
    <div class="c-board-grid">
      <ul class="clearfix">
        <li>
          <%= render 'contest/contests/partials/leader_week_item', { c_project: month_project, is_month: true } %>
        </li>
        <% (0..7).each do |index| %>
          <li>
            <%= render 'contest/contests/partials/leader_week_item', { c_project: week_projects[index], is_month: false, week_index: index } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--end c-yellow-board-block__inner-->
</div>
