<div class="c-yellow-board-block">
  <div class="c-yellow-board-block__inner">
    <div class="c-yellow-board-block__more"><a href="#">Xem bảng vàng<i class="icon-long-arrow-right-blue"></i></a></div>
    <div class="c-board-grid">
      <ul class="clearfix">
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_1.jpg" alt="face"></div>
              </div>
              <div class="c-board-item__name">Nguyễn Ngọc Minh Quân</div>
              <div class="c-board-item__title">
                Giải xuất xắc tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/images/face-default.png" alt="face"></div>
                <div class="c-board-item__name">Nguyễn Phúc Minh Châu</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 1</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_2.jpg" alt="face"></div>
                <div class="c-board-item__name">Kiều Vũ Tuệ Nhi</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 1</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_4.jpg" alt="face"></div>
                <div class="c-board-item__name">Thái Trang</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 2</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/images/face-default.png" alt="face"></div>
                <div class="c-board-item__name">Trần Thị Phúc</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 2</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_1.jpg" alt="face"></div>
                <div class="c-board-item__name">Vũ Thị Bích Liên</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 3</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_3.jpg" alt="face"></div>
                <div class="c-board-item__name">Đào Lan Hương</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 3</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/images/face-default.png" alt="face"></div>
                <div class="c-board-item__name">Nguyễn Hùng Minh Phi</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 4</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_5.jpg" alt="face"></div>
                <div class="c-board-item__name">Đặng Thị Lan</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 4</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--end c-yellow-board-block__inner-->
</div>
