<div class="c-winner-item">
  <div class="c-winner-item__thumb"><a href="product-detail.html"><img src="/contest/upload/winner_1.jpg" alt="image"></a></div>
  <div class="c-winner-item__content">
    <div class="c-winner-item__time"><span>8</span>
      <label>Tháng<b>/2030</b></label>
    </div>
    <div class="c-winner-item__inside"><i class="icon-meday"></i>
      <div class="b-grid">
        <div class="b-grid__row">
          "Student of the month"
          <b class="h-text__underline">Cơ sở Cầu Giấy - Hà Nội</b>
        </div>
        <div class="b-grid__img">
          <figure><img src="/contest/upload/avatar_1.jpg" alt="image"></figure>
        </div>
        <div class="b-grid__content">
          <div class="b-grid__row"><a class="b-grid__title" href="product-detail.html">Amazing Scratch Games | Program</a></div>
          <div class="b-grid__row"><span class="b-grid__author">Nguyễn Minh Khang</span></div>
        </div>
      </div>
    </div>
    <div class="c-winner-item__count">
      <ul>
        <li><i class="icon16-like"></i><span>12</span></li>
        <li><i class="icon16-share"></i><span>3</span></li>
        <li><i class="icon16-eye"></i><span>3.2K</span></li>
      </ul>
    </div>
  </div>
</div>
