<div class="c-product-small">
  <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_1.jpg" alt="image"></a></div>
  <div class="c-product-small__content">
    <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
    <div class="c-product-small__count">
      <ul>
        <li><i class="icon16-like"></i><span>302</span></li>
        <li><i class="icon16-share"></i><span>98</span></li>
        <li><i class="icon16-eye"></i><span>2K</span></li>
      </ul>
    </div>
  </div>
</div>
