<div class="box-mt-detail">
  <div class="bmd-title">
    <span><img src="assets/global/images/icon-camera.png" alt=""></span>
    <h3>Khoảnh khắc tuyệt vời</h3>
  </div>
  <div class="bmd-video bmd-content">
    <div class="big-video">
      <video></video>
    </div>
    <ul class="list-video">
      <li>
        <div class="lv-detail">
          <video src=""></video>
        </div>
      </li>
      <li>
        <div class="lv-detail">
          <video src=""></video>
        </div>
      </li>
      <li>
        <div class="lv-detail">
          <video src=""></video>
        </div>
      </li>
      <li>
        <div class="lv-detail">
          <video src=""></video>
        </div>
      </li>
    </ul>
  </div>
</div>
