<% if refer.state_waiting? %>
  <td class='refer_state' align="left"><span class="label-edit label label-warning"><%= refer.state %></span></td>
<% elsif refer.state_confirm? %>
  <td class='refer_state' align="left"><span class="label-edit label label-primary"><%= refer.state %></span></td>
<% elsif refer.state_succeed? %>
  <td class='refer_state' align="left"><span class="label-edit label label-success"><%= refer.state %></span></td>
<% elsif refer.state_failed? %>
  <td class='refer_state' align="left"><span class="label-edit label label-danger"><%= refer.state %></span></td>
<% end %>
