<%# c_project = Contest::ContestProject.last %>
<%# project = c_project.student_project %>
<div class="l-nav is-transparent">
  <div class="container is-full">
    <div class="c-header-inner">
      <button class="c-menu-expand js-menu-expand" type="button"><span></span></button>
      <div class="c-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
      <div class="c-menu">
        <ul>
          <li><a href="index.html">Trang chủ</a></li>
          <li><a href="#">Thể lệ</a></li>
          <li class="active"><a href="award.html">Bảng vàng</a></li>
          <li><a href="product.html">Sản phẩm dự thi</a></li>
        </ul>
      </div>
      <div class="c-hotline">
        <div class="c-hotline__current"><i class="icon16-calling"></i><span class="c-hotline__text">Hotline</span></div>
        <div class="c-dropdown-menu is-center">
          <ul>
            <li><a href="tel:+842471096668">Miền Bắc<b class="float-right">+8424-7109-6668</b></a></li>
            <li><a href="tel:+842471096668">Miền Nam<b class="float-right">+8428-710-99948</b></a></li>
            <li><a href="tel:+842471096668">Email<b class="float-right">contact@teky.edu.vn</b></a></li>
          </ul>
        </div>
      </div><a class="btn-push" href="#"><i class="icon16-/contest/upload"></i><span class="btn-push__text">Nộp bài dự thi</span></a>
    </div>
  </div>
  <!--end container-->
</div>
<div class="c-pano" style="background-image:url('/contest/upload/pano_1.jpg');">
  <div class="c-pano__caption">
    <div class="container">
      <div class="c-pano__title">Bảng vàng vinh danh</div>
      <div class="c-pano__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
    </div>
  </div>
</div>
<div class="c-block bg-border">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tháng</div>
        <div class="c-box__title__shadow">Winners</div>
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus is-button-circle c-award-slider">
          <div class="owl-carousel js-award-slider">
            <div class="c-award-item">
              <div class="c-award-item__thumb"><img src="/contest/upload/award_1.png" alt="image"></div>
              <div class="c-award-item__bar">
                <ul>
                  <li><a href="#"><i class="icon24-share"></i><span>Chia sể lên Facebook</span></a></li>
                  <li><a href="#"><i class="icon24-pdf"></i><span>Tải xuống</span></a></li>
                  <li><a href="#"><i class="icon24-view"></i><span>Xem sản phẩm</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c-award-item">
              <div class="c-award-item__thumb"><img src="/contest/upload/award_1.png" alt="image"></div>
              <div class="c-award-item__bar">
                <ul>
                  <li><a href="#"><i class="icon24-share"></i><span>Chia sể lên Facebook</span></a></li>
                  <li><a href="#"><i class="icon24-pdf"></i><span>Tải xuống</span></a></li>
                  <li><a href="#"><i class="icon24-view"></i><span>Xem sản phẩm</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c-award-item">
              <div class="c-award-item__thumb"><img src="/contest/upload/award_1.png" alt="image"></div>
              <div class="c-award-item__bar">
                <ul>
                  <li><a href="#"><i class="icon24-share"></i><span>Chia sể lên Facebook</span></a></li>
                  <li><a href="#"><i class="icon24-pdf"></i><span>Tải xuống</span></a></li>
                  <li><a href="#"><i class="icon24-view"></i><span>Xem sản phẩm</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tuần</div>
        <div class="c-box__title__shadow">Winners</div>
      </div>
      <div class="c-box__content">
        <div class="c-face-grid">
          <ul class="clearfix">
            <li>
              <div class="c-face-item">
                <div class="c-face-item__leaf">
                  <figure><img src="/contest/upload/face_1.jpg" alt="face"></figure>
                </div>
                <div class="c-face-item__thumb"><a href="#"><img src="/contest/upload/product_1.jpg" alt="image"></a></div>
                <div class="c-face-item__content">
                  <div class="c-face-item__row"><a class="c-face-item__title" href="#">Epic Zombie Shining</a></div>
                  <div class="c-face-item__row"><span class="c-face-item__author">Bùi Quý Khánh</span></div>
                  <div class="c-face-item__bottom">
                    <div class="c-face-item__time">
                      <label>Tuần 1</label><span>Tháng 10/2020</span>
                    </div>
                    <div class="c-face-item__count">
                      <ul>
                        <li><i class="icon16-like"></i><span>12</span></li>
                        <li><i class="icon16-share"></i><span>3</span></li>
                        <li><i class="icon16-eye"></i><span>3.2K</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="c-face-item">
                <div class="c-face-item__leaf">
                  <figure><img src="/contest/upload/face_2.jpg" alt="face"></figure>
                </div>
                <div class="c-face-item__thumb"><a href="#"><img src="/contest/upload/product_2.jpg" alt="image"></a></div>
                <div class="c-face-item__content">
                  <div class="c-face-item__row"><a class="c-face-item__title" href="#">Epic Zombie Shining</a></div>
                  <div class="c-face-item__row"><span class="c-face-item__author">Bùi Quý Khánh</span></div>
                  <div class="c-face-item__bottom">
                    <div class="c-face-item__time">
                      <label>Tuần 1</label><span>Tháng 10/2020</span>
                    </div>
                    <div class="c-face-item__count">
                      <ul>
                        <li><i class="icon16-like"></i><span>12</span></li>
                        <li><i class="icon16-share"></i><span>3</span></li>
                        <li><i class="icon16-eye"></i><span>3.2K</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="c-face-item">
                <div class="c-face-item__leaf">
                  <figure><img src="/contest/upload/face_3.jpg" alt="face"></figure>
                </div>
                <div class="c-face-item__thumb"><a href="#"><img src="/contest/upload/product_3.jpg" alt="image"></a></div>
                <div class="c-face-item__content">
                  <div class="c-face-item__row"><a class="c-face-item__title" href="#">Epic Zombie Shining</a></div>
                  <div class="c-face-item__row"><span class="c-face-item__author">Bùi Quý Khánh</span></div>
                  <div class="c-face-item__bottom">
                    <div class="c-face-item__time">
                      <label>Tuần 1</label><span>Tháng 10/2020</span>
                    </div>
                    <div class="c-face-item__count">
                      <ul>
                        <li><i class="icon16-like"></i><span>12</span></li>
                        <li><i class="icon16-share"></i><span>3</span></li>
                        <li><i class="icon16-eye"></i><span>3.2K</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="c-face-item">
                <div class="c-face-item__leaf">
                  <figure><img src="/contest/upload/face_4.jpg" alt="face"></figure>
                </div>
                <div class="c-face-item__thumb"><a href="#"><img src="/contest/upload/product_4.jpg" alt="image"></a></div>
                <div class="c-face-item__content">
                  <div class="c-face-item__row"><a class="c-face-item__title" href="#">Epic Zombie Shining</a></div>
                  <div class="c-face-item__row"><span class="c-face-item__author">Bùi Quý Khánh</span></div>
                  <div class="c-face-item__bottom">
                    <div class="c-face-item__time">
                      <label>Tuần 1</label><span>Tháng 10/2020</span>
                    </div>
                    <div class="c-face-item__count">
                      <ul>
                        <li><i class="icon16-like"></i><span>12</span></li>
                        <li><i class="icon16-share"></i><span>3</span></li>
                        <li><i class="icon16-eye"></i><span>3.2K</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="c-face-item">
                <div class="c-face-item__leaf">
                  <figure><img src="/contest/upload/face_5.jpg" alt="face"></figure>
                </div>
                <div class="c-face-item__thumb"><a href="#"><img src="/contest/upload/product_5.jpg" alt="image"></a></div>
                <div class="c-face-item__content">
                  <div class="c-face-item__row"><a class="c-face-item__title" href="#">Epic Zombie Shining</a></div>
                  <div class="c-face-item__row"><span class="c-face-item__author">Bùi Quý Khánh</span></div>
                  <div class="c-face-item__bottom">
                    <div class="c-face-item__time">
                      <label>Tuần 1</label><span>Tháng 10/2020</span>
                    </div>
                    <div class="c-face-item__count">
                      <ul>
                        <li><i class="icon16-like"></i><span>12</span></li>
                        <li><i class="icon16-share"></i><span>3</span></li>
                        <li><i class="icon16-eye"></i><span>3.2K</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="c-face-item">
                <div class="c-face-item__leaf">
                  <figure><img src="/contest/images/face-default.png" alt="face"></figure>
                </div>
                <div class="c-face-item__thumb"><a href="#"><img src="/contest/upload/product_6.jpg" alt="image"></a></div>
                <div class="c-face-item__content">
                  <div class="c-face-item__row"><a class="c-face-item__title" href="#">Epic Zombie Shining</a></div>
                  <div class="c-face-item__row"><span class="c-face-item__author">Bùi Quý Khánh</span></div>
                  <div class="c-face-item__bottom">
                    <div class="c-face-item__time">
                      <label>Tuần 1</label><span>Tháng 10/2020</span>
                    </div>
                    <div class="c-face-item__count">
                      <ul>
                        <li><i class="icon16-like"></i><span>12</span></li>
                        <li><i class="icon16-share"></i><span>3</span></li>
                        <li><i class="icon16-eye"></i><span>3.2K</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="c-loading">
          <div class="c-loading__icon"><i class="icon32-sand-clock"></i></div>
          <div class="c-loading__text">Đợi xíu nha...</div>
        </div>
        <div class="c-paging">
          <div class="c-paging__inner"><a class="is-primary is-first" href="#"><i class="icon16-angle-left-white"></i></a><span class="c-paging__text">Trang</span><a class="active" href="#">3</a><span class="c-paging__text">/276</span><a class="is-primary is-last" href="#"><i class="icon16-angle-right-white"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="l-footer">
  <div class="container">
    <div class="c-footer-main">
      <div class="c-footer-top">
        <div class="c-footer-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
        <div class="c-footer-social"><a href="#"><i class="icon24-facebook"></i></a><a href="#"><i class="icon24-youtube"></i></a></div>
      </div>
      <div class="c-footer-center">
        <div class="row">
          <div class="col-md-4">
            <div class="c-footer-label">Học viện Teky</div>
            <div class="c-footer-content">
              <div class="b-maincontent">
                <p>Toà nhà Mac Plaza, Số 10 Trần Phú</p>
                <p>Mộ Lao, Hà Đông, Hà Nội</p><br>
                <p>Miền Bắc: 024 7109 6668</p>
                <p>Miền Nam: 028 710 99948</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Thông tin chung</div>
            <div class="c-footer-content">
              <div class="c-footer-list">
                <ul>
                  <li><a href="#">Teky.edu.vn</a></li>
                  <li><a href="#">Trang chủ</a></li>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="#">Thể lệ</a></li>
                  <li><a href="#">Sản phẩm dự thi</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Đăng ký nhận tin</div>
            <div class="c-footer-content">
              <div class="c-footer-text">Subsbribe us to get news and updates directy to your inbox.</div>
              <div class="c-footer-email">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Email của bạn">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"><i class="icon-long-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-copyright">© 2020 All Rights Reserved By TEKY Academy.</div>
  </div>
  <!--end container-->
</div>

