<div class="l-nav is-transparent">
  <div class="container is-full">
    <div class="c-header-inner">
      <button class="c-menu-expand js-menu-expand" type="button"><span></span></button>
      <div class="c-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
      <div class="c-menu">
        <ul>
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a href="#">Thể lệ</a></li>
          <li><a href="award.html">Bảng vàng</a></li>
          <li><a href="product.html">Sản phẩm dự thi</a></li>
        </ul>
      </div>
      <div class="c-hotline">
        <div class="c-hotline__current"><i class="icon16-calling"></i><span class="c-hotline__text">Hotline</span></div>
        <div class="c-dropdown-menu is-center">
          <ul>
            <li><a href="tel:+842471096668">Miền Bắc<b class="float-right">+8424-7109-6668</b></a></li>
            <li><a href="tel:+842471096668">Miền Nam<b class="float-right">+8428-710-99948</b></a></li>
            <li><a href="tel:+842471096668">Email<b class="float-right">contact@teky.edu.vn</b></a></li>
          </ul>
        </div>
      </div><a class="btn-push" href="#"><i class="icon16-/contest/upload"></i><span class="btn-push__text">Nộp bài dự thi</span></a>
    </div>
  </div>
  <!--end container-->
</div>
<!--end l-nav-->
<!--Content page part-->
<div class="c-slider">
  <div class="owl-carousel js-slider" data-slider-id="slider-main">
    <div class="c-slider-item" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="#">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
    <div class="c-slider-item is-reverse" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="#">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
    <div class="c-slider-item" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="#">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
    <div class="c-slider-item is-reverse" style="background-image:url('/contest/upload/slider-bg_1.jpg');">
      <div class="c-slider-item__caption">
        <div class="container is-full">
          <div class="c-slider-item__text">
            <div class="c-slider-item__title"><img src="/contest/upload/slider-title_1.png" alt="img"></div>
            <div class="c-slider-item__more">
              <div class="c-slider-item__btn"><a href="#">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#">Xem thể lệ cuộc thi</a>
            </div>
          </div>
          <div class="c-slider-item__img"><img src="/contest/upload/slider-img_1.png" alt="img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-template-dots">
    <ul class="owl-thumbs" data-slider-id="slider-main">
      <li class="owl-thumb-item"><span>1</span></li>
      <li class="owl-thumb-item"><span>2</span></li>
      <li class="owl-thumb-item"><span>3</span></li>
      <li class="owl-thumb-item"><span>4</span></li>
    </ul>
  </div>
  <div class="c-slider-share"><a href="#"><i class="icon24-facebook-white"></i></a><a href="#"><i class="icon24-youtube-white"></i></a></div>
  <div class="c-slider-scroll js-scroll"><a href="#about-block-id"><i class="icon-scroll"></i>
      <div class="c-slider-scroll__text">Kéo xuống để khám phá</div></a></div>
</div>
<!--end c-slider-->
<div class="c-block c-about-block" id="about-block-id">
  <div class="container">
    <div class="row c-about">
      <div class="col-lg-6">
        <div class="c-box">
          <div class="c-box__title">
            <div class="c-box__title__name"><span>Giới thiệu cuộc thi</span>TEKY'S YOUNG TALENT</div>
            <div class="c-box__title__shadow">About Us</div>
          </div>
          <div class="c-box__content">
            <div class="c-about__content">
              <div class="b-maincontent">
                <p>Vậy là, sau những ngày mòn mỏi trông ngóng, Tekid tranh tài đã trở lại với các bạn nhỏ với một diện mạo hoàn toàn mới, hứa hẹn nhiều điều thú vị, bổ ích đang chờ đón các Tekid.</p><br>
                <p>Cuộc thi Teky’s Young Talent – Khẳng định bản lĩnh Tekid 2020 là sân chơi lập trình dành cho học sinh Teky trong lứa tuổi từ 8-16 tuổi do Học viện Sáng tạo công nghệ TEKY tổ chức.</p><br>
                <p>Đây là nơi để các bạn học sinh có thể thỏa sức thể hiện đam mê, sáng tạo và khẳng định bản thân mình cũng là sân chơi nhằm tôn vinh và phát hiện những tài năng công nghệ nhí trên khắp mọi miền đất nước, giúp các bạn nhỏ có cơ hội học tập và giao lưu kiến thức về lập trình và khoa học máy tính.</p><br>
                <p>Với các chủ đề được thay đổi hằng tháng xoay quanh các vấn đề xã hội: môi trường biển đảo, bảo vệ hành tinh… cho đến những dịp lễ hội lớn trong năm, cuộc thi Teky’s Young Talent sẽ là cơ hội cho các bạn nhỏ thể hiện các ý tưởng sáng tạo giúp giải quyết các vấn đề được đặt ra theo từng chủ đề.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- c-box-->
      </div>
      <div class="col-lg-6">
        <div class="c-about__img"><img src="/contest/upload/about.png" alt="image"></div>
      </div>
    </div>
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<div class="c-block bg-gradient c-rules-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Thể lệ</span>Giải thưởng cuộc thi</div>
        <div class="c-box__title__shadow">Contest Rules</div>
      </div>
      <div class="c-box__desc">
        Sản phẩm
        <b class="h-text__underline">dự thi hợp lệ</b>
        là sản phẩm có đầy đủ những thông tin bao gồm
      </div>
      <div class="c-box__content">
        <div class="c-rules">
          <ul class="clearfix">
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-1.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title">Thông tin tham dự</div>
                </div>
                <div class="c-rules-item__row">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                <div class="c-rules-item__row"><i class="icon48-info"></i></div>
              </div>
            </li>
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-2.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title">Mô tả sản phẩm</div>
                </div>
                <div class="c-rules-item__row">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                <div class="c-rules-item__row"><i class="icon48-desc"></i></div>
              </div>
            </li>
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-3.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title">Nộp bài dự thi</div>
                </div>
                <div class="c-rules-item__row">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                <div class="c-rules-item__row"><i class="icon48-sent"></i></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<div class="c-block bg-warning-dark c-prize-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Hạng mục</span>Giải thưởng</div>
        <div class="c-box__title__shadow">Prize</div>
      </div>
      <div class="c-box__content">
        <div class="c-prize-grid">
          <ul class="clearfix">
            <li>
              <div class="c-prize-item">
                <div class="c-prize-item__img">
                  <figure><img src="/contest/upload/prize_1.png" alt="img"></figure>
                </div>
                <div class="c-prize-item__content">
                  <div class="c-prize-item__label">Trị giá giải thưởng</div>
                  <div class="c-prize-item__price">500.000<sup>đ</sup></div>
                  <div class="c-prize-item__desc">
                    <p><b>300.000đ</b>
                    dành cho
                    <span class="h-text__underline">học sinh,</span><b>200.000đ</b>
                    dành cho
                    <span class="h-text__underline">giảng viên</span>
                    phụ trách
                    </p>
                    <p><b>& Bằng khen</b>
                    của Học viện TEKY cho học sinh
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="c-prize-item">
                <div class="c-prize-item__img">
                  <figure><img src="/contest/upload/prize_2.png" alt="img"></figure>
                </div>
                <div class="c-prize-item__content">
                  <div class="c-prize-item__label">Trị giá giải thưởng</div>
                  <div class="c-prize-item__price">3.000.000<sup>đ</sup></div>
                  <div class="c-prize-item__desc">
                    <p><b>2.000.000đ</b>
                    dành cho
                    <span class="h-text__underline">học sinh,</span><b>1.000.000đ</b>
                    dành cho
                    <span class="h-text__underline">giảng viên</span>
                    phụ trách
                    </p>
                    <p><b>& Bằng khen</b>
                    của Học viện TEKY cho học sinh
                    </p>
                    <p><b>& Video quảng bá</b>
                    sản phẩm của học sinh đăng tải trên các phương tiện truyền thông của Học viện
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="b-maincontent">
          <p>
          Giải thưởng sẽ được trao hàng tuần đối với giải
          <b>"Student of the week"</b>
          và các sản phẩm xuất sắc nhất tuần sẽ được đánh giá bởi hội đồng ban giám khảo để chọn ra 01 giải
          <b>"Student of the month"</b>
          </p>
          <p>
          Đối với giải thưởng
          <b>"Student of the week"</b>
          bình chọn dựa theo kết quả
          <b class="text-secondary">LIKE FACEBOOK, SHARE FACEBOOK</b><b>(1 LIKE = 1 phiếu bình chọn; 1 SHARE =  3 phiếu bình chọn)</b>
          </p>
        </div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<div class="c-block c-theme-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Thời gian &</span>Chủ đề cuộc thi</div>
        <div class="c-box__title__shadow">Theme</div>
      </div>
      <div class="c-box__desc">
        <p>Các chủ đề của cuộc thi sẽ được thay đổi hằng tuần, hằng tháng và cụ thể như sau</p>
        <p>
        Ba mẹ cùng các con đừng quên theo dõi
        <a href="#">website</a>/<a href="#">Fanpage</a>
        của TEKY để thường xuyên cập nhật thông tin mới nhất về cuộc thi nhé!
        </p>
      </div>
      <div class="c-box__content">
        <div class="c-calender-slider">
          <div class="owl-carousel" id="calendar-slider-id">
            <div class="c-calendar-item" data-number="1" data-month="9">
              <div class="icon16-calendar-primary"></div>Tháng 9/2020
            </div>
            <div class="c-calendar-item" data-number="2" data-month="10">
              <div class="icon16-calendar-primary"></div>Tháng 10/2020
            </div>
            <div class="c-calendar-item" data-number="3" data-month="11">
              <div class="icon16-calendar-primary"></div>Tháng 11/2020
            </div>
            <div class="c-calendar-item" data-number="4" data-month="12">
              <div class="icon16-calendar-primary"></div>Tháng 12/2020
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
  <div class="c-road-slider">
    <div class="owl-carousel" id="road-slider-id">
      <div class="c-road-board is-last">
        <div class="c-road-board__backdrop">
          <div class="container">
            <div class="c-road-line">
              <div class="c-box-line is-left"></div>
              <div class="c-box-line is-right"></div>
              <ul>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="c-road-grid">
            <ul>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T9</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li class="active"><span>Tuần 1, tháng 9/2020</span></li>
                        <li><span>Tuần 2, tháng 9/2020</span></li>
                        <li><span>Tuần 3, tháng 9/2020</span></li>
                        <li><span>Tuần 4, tháng 9/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T9</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 9/2020</span></li>
                        <li class="active"><span>Tuần 2, tháng 9/2020</span></li>
                        <li><span>Tuần 3, tháng 9/2020</span></li>
                        <li><span>Tuần 4, tháng 9/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T9</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 9/2020</span></li>
                        <li><span>Tuần 2, tháng 9/2020</span></li>
                        <li class="active"><span>Tuần 3, tháng 9/2020</span></li>
                        <li><span>Tuần 4, tháng 9/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T9</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 9/2020</span></li>
                        <li><span>Tuần 2, tháng 9/2020</span></li>
                        <li><span>Tuần 3, tháng 9/2020</span></li>
                        <li class="active"><span>Tuần 4, tháng 9/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="c-road-board is-current-1">
        <div class="c-road-board__backdrop">
          <div class="container">
            <div class="c-road-line">
              <div class="c-box-line is-left"></div>
              <div class="c-box-line is-right"></div>
              <ul>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="c-road-grid">
            <ul>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T10</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li class="active"><span>Tuần 1, tháng 10/2020</span></li>
                        <li><span>Tuần 2, tháng 10/2020</span></li>
                        <li><span>Tuần 3, tháng 10/2020</span></li>
                        <li><span>Tuần 4, tháng 10/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T10</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 10/2020</span></li>
                        <li class="active"><span>Tuần 2, tháng 10/2020</span></li>
                        <li><span>Tuần 3, tháng 10/2020</span></li>
                        <li><span>Tuần 4, tháng 10/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T10</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 10/2020</span></li>
                        <li><span>Tuần 2, tháng 10/2020</span></li>
                        <li class="active"><span>Tuần 3, tháng 10/2020</span></li>
                        <li><span>Tuần 4, tháng 10/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T10</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 10/2020</span></li>
                        <li><span>Tuần 2, tháng 10/2020</span></li>
                        <li><span>Tuần 3, tháng 10/2020</span></li>
                        <li class="active"><span>Tuần 4, tháng 10/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="c-road-board is-current-2">
        <div class="c-road-board__backdrop">
          <div class="container">
            <div class="c-road-line">
              <div class="c-box-line is-left"></div>
              <div class="c-box-line is-right"></div>
              <ul>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="c-road-grid">
            <ul>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T11</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li class="active"><span>Tuần 1, tháng 11/2020</span></li>
                        <li><span>Tuần 2, tháng 11/2020</span></li>
                        <li><span>Tuần 3, tháng 11/2020</span></li>
                        <li><span>Tuần 4, tháng 11/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T11</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 11/2020</span></li>
                        <li class="active"><span>Tuần 2, tháng 11/2020</span></li>
                        <li><span>Tuần 3, tháng 11/2020</span></li>
                        <li><span>Tuần 4, tháng 11/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T11</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 11/2020</span></li>
                        <li><span>Tuần 2, tháng 11/2020</span></li>
                        <li class="active"><span>Tuần 3, tháng 11/2020</span></li>
                        <li><span>Tuần 4, tháng 11/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T11</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 11/2020</span></li>
                        <li><span>Tuần 2, tháng 11/2020</span></li>
                        <li><span>Tuần 3, tháng 11/2020</span></li>
                        <li class="active"><span>Tuần 4, tháng 11/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="c-road-board is-current-3">
        <div class="c-road-board__backdrop">
          <div class="container">
            <div class="c-road-line">
              <div class="c-box-line is-left"></div>
              <div class="c-box-line is-right"></div>
              <ul>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
                <li>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                  <div class="c-box-line"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="c-road-grid">
            <ul>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T12</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li class="active"><span>Tuần 1, tháng 12/2020</span></li>
                        <li><span>Tuần 2, tháng 12/2020</span></li>
                        <li><span>Tuần 3, tháng 12/2020</span></li>
                        <li><span>Tuần 4, tháng 12/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_1.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">Tết trung thu T12</div>
                    <div class="c-road-item__desc">Giá trị văn hóa dân gian Việt Nam</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 12/2020</span></li>
                        <li class="active"><span>Tuần 2, tháng 12/2020</span></li>
                        <li><span>Tuần 3, tháng 12/2020</span></li>
                        <li><span>Tuần 4, tháng 12/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T12</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 12/2020</span></li>
                        <li><span>Tuần 2, tháng 12/2020</span></li>
                        <li class="active"><span>Tuần 3, tháng 12/2020</span></li>
                        <li><span>Tuần 4, tháng 12/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-road-item">
                  <div class="c-road-item__thumb">
                    <figure><img src="/contest/upload/road_2.png" alt="image"></figure>
                  </div>
                  <div class="c-road-item__content">
                    <div class="c-road-item__title">My Super Women T12</div>
                    <div class="c-road-item__desc">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="c-road-item__dots">
                      <ul>
                        <li><span>Tuần 1, tháng 12/2020</span></li>
                        <li><span>Tuần 2, tháng 12/2020</span></li>
                        <li><span>Tuần 3, tháng 12/2020</span></li>
                        <li class="active"><span>Tuần 4, tháng 12/2020</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end c-block-->
<div class="c-yellow-board-block">
  <div class="c-yellow-board-block__inner">
    <div class="c-yellow-board-block__more"><a href="#">Xem bảng vàng<i class="icon-long-arrow-right-blue"></i></a></div>
    <div class="c-board-grid">
      <ul class="clearfix">
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_1.jpg" alt="face"></div>
              </div>
              <div class="c-board-item__name">Nguyễn Ngọc Minh Quân</div>
              <div class="c-board-item__title">
                Giải xuất xắc tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/images/face-default.png" alt="face"></div>
                <div class="c-board-item__name">Nguyễn Phúc Minh Châu</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 1</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_2.jpg" alt="face"></div>
                <div class="c-board-item__name">Kiều Vũ Tuệ Nhi</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 1</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_4.jpg" alt="face"></div>
                <div class="c-board-item__name">Thái Trang</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 2</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/images/face-default.png" alt="face"></div>
                <div class="c-board-item__name">Trần Thị Phúc</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 2</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_1.jpg" alt="face"></div>
                <div class="c-board-item__name">Vũ Thị Bích Liên</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 3</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_3.jpg" alt="face"></div>
                <div class="c-board-item__name">Đào Lan Hương</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 3</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/images/face-default.png" alt="face"></div>
                <div class="c-board-item__name">Nguyễn Hùng Minh Phi</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 4</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-board-item">
            <div class="c-board-item__inner">
              <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
              <div class="c-board-item__thumb">
                <div class="c-board-item__avatar"><img src="/contest/upload/face_5.jpg" alt="face"></div>
                <div class="c-board-item__name">Đặng Thị Lan</div>
              </div>
              <div class="c-board-item__title">
                Giải nhất
                <b>tuần 4</b>
                tháng
                <b>10/2020</b>
              </div>
              <div class="c-board-item__more"><a href="product-detail.html">Xem sản phẩm</a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--end c-yellow-board-block__inner-->
</div>
<!--end c-yellow-board-block-->
<div class="c-block bg-gradient-2 c-product-block">
  <div class="container is-medium">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tháng</div>
        <div class="c-box__title__shadow">Winers</div>
      </div>
      <div class="c-box__desc">
        Sản phẩm của học sinh
        <b>được vinh danh</b>
        hàng tháng
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus">
          <div class="owl-carousel js-slider-2">
            <div class="c-winner-item">
              <div class="c-winner-item__thumb"><a href="product-detail.html"><img src="/contest/upload/winner_1.jpg" alt="image"></a></div>
              <div class="c-winner-item__content">
                <div class="c-winner-item__time"><span>8</span>
                  <label>Tháng<b>/2030</b></label>
                </div>
                <div class="c-winner-item__inside"><i class="icon-meday"></i>
                  <div class="b-grid">
                    <div class="b-grid__row">
                      "Student of the month"
                      <b class="h-text__underline">Cơ sở Cầu Giấy - Hà Nội</b>
                    </div>
                    <div class="b-grid__img">
                      <figure><img src="/contest/upload/avatar_1.jpg" alt="image"></figure>
                    </div>
                    <div class="b-grid__content">
                      <div class="b-grid__row"><a class="b-grid__title" href="product-detail.html">Amazing Scratch Games | Program</a></div>
                      <div class="b-grid__row"><span class="b-grid__author">Nguyễn Minh Khang</span></div>
                    </div>
                  </div>
                </div>
                <div class="c-winner-item__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>12</span></li>
                    <li><i class="icon16-share"></i><span>3</span></li>
                    <li><i class="icon16-eye"></i><span>3.2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-winner-item">
              <div class="c-winner-item__thumb"><a href="product-detail.html"><img src="/contest/upload/winner_2.jpg" alt="image"></a></div>
              <div class="c-winner-item__content">
                <div class="c-winner-item__time"><span>9</span>
                  <label>Tháng<b>/2030</b></label>
                </div>
                <div class="c-winner-item__inside"><i class="icon-meday"></i>
                  <div class="b-grid">
                    <div class="b-grid__row">
                      "Student of the month"
                      <b class="h-text__underline">Cơ sở Q.3 - Hồ Chí Minh</b>
                    </div>
                    <div class="b-grid__img">
                      <figure><img src="/contest/upload/avatar_1.jpg" alt="image"></figure>
                    </div>
                    <div class="b-grid__content">
                      <div class="b-grid__row"><a class="b-grid__title" href="product-detail.html">Shukman Skage - Game  Design</a></div>
                      <div class="b-grid__row"><span class="b-grid__author">Thái Trang</span></div>
                    </div>
                  </div>
                </div>
                <div class="c-winner-item__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>12</span></li>
                    <li><i class="icon16-share"></i><span>3</span></li>
                    <li><i class="icon16-eye"></i><span>3.2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-winner-item">
              <div class="c-winner-item__thumb"><a href="product-detail.html"><img src="/contest/upload/winner_1.jpg" alt="image"></a></div>
              <div class="c-winner-item__content">
                <div class="c-winner-item__time"><span>8</span>
                  <label>Tháng<b>/2030</b></label>
                </div>
                <div class="c-winner-item__inside"><i class="icon-meday"></i>
                  <div class="b-grid">
                    <div class="b-grid__row">
                      "Student of the month"
                      <b class="h-text__underline">Cơ sở Cầu Giấy - Hà Nội</b>
                    </div>
                    <div class="b-grid__img">
                      <figure><img src="/contest/upload/avatar_1.jpg" alt="image"></figure>
                    </div>
                    <div class="b-grid__content">
                      <div class="b-grid__row"><a class="b-grid__title" href="product-detail.html">Amazing Scratch Games | Program</a></div>
                      <div class="b-grid__row"><span class="b-grid__author">Nguyễn Minh Khang</span></div>
                    </div>
                  </div>
                </div>
                <div class="c-winner-item__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>12</span></li>
                    <li><i class="icon16-share"></i><span>3</span></li>
                    <li><i class="icon16-eye"></i><span>3.2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-winner-item">
              <div class="c-winner-item__thumb"><a href="product-detail.html"><img src="/contest/upload/winner_2.jpg" alt="image"></a></div>
              <div class="c-winner-item__content">
                <div class="c-winner-item__time"><span>9</span>
                  <label>Tháng<b>/2030</b></label>
                </div>
                <div class="c-winner-item__inside"><i class="icon-meday"></i>
                  <div class="b-grid">
                    <div class="b-grid__row">
                      "Student of the month"
                      <b class="h-text__underline">Cơ sở Q.3 - Hồ Chí Minh</b>
                    </div>
                    <div class="b-grid__img">
                      <figure><img src="/contest/upload/avatar_1.jpg" alt="image"></figure>
                    </div>
                    <div class="b-grid__content">
                      <div class="b-grid__row"><a class="b-grid__title" href="product-detail.html">Shukman Skage - Game  Design</a></div>
                      <div class="b-grid__row"><span class="b-grid__author">Thái Trang</span></div>
                    </div>
                  </div>
                </div>
                <div class="c-winner-item__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>12</span></li>
                    <li><i class="icon16-share"></i><span>3</span></li>
                    <li><i class="icon16-eye"></i><span>3.2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-more"><a class="btn btnl-lg btn-outline-dark" href="product.html">Xem toàn bộ<i class="icon-long-arrow-right icon-right"></i></a></div>
      </div>
    </div>
    <!-- c-box-->
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Bảng xếp hạng</span>Tuần này</div>
        <div class="c-box__title__shadow">Leader</div>
      </div>
      <div class="c-box__desc"><b>TOP 20</b>
        sản phẩm được ưa thích trong
        <b>tuần 2</b>
        tháng 10/2020
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus">
          <div class="owl-carousel js-slider-5" data-slider-id="slider-product-1">
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_1.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_2.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_3.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_4.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_5.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_3.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-more"><a class="btn btnl-lg btn-outline-dark" href="product.html">Xem toàn bộ<i class="icon-long-arrow-right icon-right"></i></a></div>
        <div class="c-template-dots">
          <ul class="owl-thumbs" data-slider-id="slider-product-1">
            <li class="owl-thumb-item"><span>1</span></li>
            <li class="owl-thumb-item"><span>2</span></li>
            <li class="owl-thumb-item"><span>3</span></li>
            <li class="owl-thumb-item"><span>4</span></li>
            <li class="owl-thumb-item"><span>5</span></li>
            <li class="owl-thumb-item"><span>6</span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- c-box-->
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tuần trước</div>
        <div class="c-box__title__shadow">Winers</div>
      </div>
      <div class="c-box__desc">
        Các sản phẩm được ưa thích trong
        <b>tuần 1</b>
        tháng 10/2020
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus">
          <div class="owl-carousel js-slider-5" data-slider-id="slider-product-2">
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_1.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_2.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_3.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_4.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_5.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-product-small">
              <div class="c-product-small__thumb"><a href="product-detail.html"><img src="/contest/upload/product-small_3.jpg" alt="image"></a></div>
              <div class="c-product-small__content">
                <div class="c-product-small__inside"><a class="c-product-small__title" href="product-detail.html">Fruit Ninja, August 2020</a><span class="c-product-small__author">Nguyễn Minh Khang</span></div>
                <div class="c-product-small__count">
                  <ul>
                    <li><i class="icon16-like"></i><span>302</span></li>
                    <li><i class="icon16-share"></i><span>98</span></li>
                    <li><i class="icon16-eye"></i><span>2K</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-more"><a class="btn btnl-lg btn-outline-dark" href="product.html">Xem toàn bộ<i class="icon-long-arrow-right icon-right"></i></a></div>
        <div class="c-template-dots">
          <ul class="owl-thumbs" data-slider-id="slider-product-2">
            <li class="owl-thumb-item"><span>1</span></li>
            <li class="owl-thumb-item"><span>2</span></li>
            <li class="owl-thumb-item"><span>3</span></li>
            <li class="owl-thumb-item"><span>4</span></li>
            <li class="owl-thumb-item"><span>5</span></li>
            <li class="owl-thumb-item"><span>6</span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<div class="c-block c-news-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Tin tức</span>Sự kiện nổi bật</div>
        <div class="c-box__title__shadow">News</div>
      </div>
      <div class="c-box__content">
        <div class="c-news-grid">
          <ul class="clearfix">
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb"><img src="/contest/upload/news_1.jpg" alt="news"></div><a class="c-news-item__caption" href="#"><span class="c-news-item__time"><i class="icon16-calendar-white"></i>11:25 Thứ 6, 23/09/2020</span><span class="c-news-item__cat">Tin cuộc thi</span><span class="c-news-item__title">Customization & Personalization of</span><span class="c-news-item__more">Xem chi tiết</span></a>
              </div>
            </li>
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb"><img src="/contest/upload/news_2.jpg" alt="news"></div><a class="c-news-item__caption" href="#"><span class="c-news-item__time"><i class="icon16-calendar-white"></i>11:25 Thứ 6, 23/09/2020</span><span class="c-news-item__cat">Tin cuộc thi</span><span class="c-news-item__title">Customization & Personalization of</span><span class="c-news-item__more">Xem chi tiết</span></a>
              </div>
            </li>
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb"><img src="/contest/upload/news_3.jpg" alt="news"></div><a class="c-news-item__caption" href="#"><span class="c-news-item__time"><i class="icon16-calendar-white"></i>11:25 Thứ 6, 23/09/2020</span><span class="c-news-item__cat">Tin cuộc thi</span><span class="c-news-item__title">Customization & Personalization of</span><span class="c-news-item__more">Xem chi tiết</span></a>
              </div>
            </li>
          </ul>
        </div>
        <div class="c-more"><a class="btn btnl-lg btn-outline-dark" href="#">Xem toàn bộ<i class="icon-long-arrow-right icon-right"></i></a></div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<!--Footer part-->
<!--l-footer-->
<div class="l-footer">
  <div class="container">
    <div class="c-footer-main">
      <div class="c-footer-top">
        <div class="c-footer-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
        <div class="c-footer-social"><a href="#"><i class="icon24-facebook"></i></a><a href="#"><i class="icon24-youtube"></i></a></div>
      </div>
      <div class="c-footer-center">
        <div class="row">
          <div class="col-md-4">
            <div class="c-footer-label">Học viện Teky</div>
            <div class="c-footer-content">
              <div class="b-maincontent">
                <p>Toà nhà Mac Plaza, Số 10 Trần Phú</p>
                <p>Mộ Lao, Hà Đông, Hà Nội</p><br>
                <p>Miền Bắc: 024 7109 6668</p>
                <p>Miền Nam: 028 710 99948</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Thông tin chung</div>
            <div class="c-footer-content">
              <div class="c-footer-list">
                <ul>
                  <li><a href="#">Teky.edu.vn</a></li>
                  <li><a href="#">Trang chủ</a></li>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="#">Thể lệ</a></li>
                  <li><a href="#">Sản phẩm dự thi</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Đăng ký nhận tin</div>
            <div class="c-footer-content">
              <div class="c-footer-text">Subsbribe us to get news and updates directy to your inbox.</div>
              <div class="c-footer-email">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Email của bạn">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"><i class="icon-long-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-copyright">© 2020 All Rights Reserved By TEKY Academy.</div>
  </div>
  <!--end container-->
</div>
