<div class="tab-pane fade" id="tab2_2">
</div>

<script>
  $(document).ready(function(){
    $('.batch-populated').addClass('populated');
    $('.course-populated').addClass('populated');
  })
</script>
