<div class="tab-pane fade" id="tab2_2">
  <div class='row' style='display: flex; justify-content: center;'>
    <%= image_tag('loading.gif') %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.batch-populated').addClass('populated');
    $('.course-populated').addClass('populated');
  })
</script>
