<div class="box-mt-detail">
  <div class="bmd-title">
    <span><img src="assets/global/images/icon-trophy-2.png" alt=""></span>
    <h3>Tương tác lớp học</h3>
  </div>
  <div class="bmd-content">
    <ul class="list-all-bmd">
      <li>
        <div class="list-bmd-detail">
          <span><img src="assets/global/images/icon-star.png"></span>
          <p>Tôi được thưởng 200 điểm</p>
        </div>
      </li>
      <li>
        <div class="list-bmd-detail">
          <span><img src="assets/global/images/icon-heart-3.png"></span>
          <p>Tôi được thả tim</p>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-4">
        <span class="imgicon"><img src=""></span>
        <label>3<span>/5</span></label>
        <p>3 học sinh đươn=cj thưởng điểm cao</p>
      </div>
      <div class="col-md-4">
        <span class="imgicon"><img src=""></span>
        <label>3<span>/5</span></label>
        <p>2 học sinh được thả tim</p>
      </div>
      <div class="col-md-4">
        <span class="imgicon"><img src=""></span>
        <label>80</label>
        <p>Bức hình và video được thực hiện</p>
      </div>
    </div>
  </div>
</div>
